$color-green: #28a5a6;
$color-yellow: #ffc386;

$screen-lg: 2000px;
$percent-lg: 0.70;

$screen-md: 1366px;
$percent-md: 0.50;

$screen-md2: 1440px;
$percent-md2: 0.63;

$screen-lg-exp: 2000px;
$percent-lg-exp: .70;

$screen-md-exp: 1600px;
$percent-md-exp: .50;

$screen-sm-exp: 1279px;
$percent-sm-exp: .45;

$screen-lg-deal: 2100px;
$percent-lg-deal: .70;

$screen-md-deal: 1600px;
$percent-md-deal: .50;

$screen-sm-deal: 1239px;
$percent-sm-deal: .35;

$btn-active: #6fc6aa;
$btn-disable: #d8d8d8;

$screen-lg-exp-h: 1441px;
$percent-lg-exp-h: 1.20;


$screen-lg-exp-h2: 1200px;
$percent-lg-exp-h2: .80;

$screen-lg-exp-h3: 1080px;
$percent-lg-exp-h3: .80;

$screen-lg-exp-h4: 900px;
$percent-lg-exp-h4: .63;

$screen-lg-exp-h5: 770px;
$percent-lg-exp-h5: .43;