.container-add-deals{
	position: relative;
	width: 1700px;
	height: 850px;
	box-shadow: -1px 1px 6px rgba(0,0,0,.6);
	border-radius: 50px;
	text-align: center;
	background-color: white;
	@media (max-width: $screen-lg) {
		width: 1700px * $percent-lg;
		height: 850px * $percent-lg;
		border-radius: 50px * $percent-lg;
    }
    @media (max-width: $screen-md) {
		width: 1700px * $percent-md;
		height: 850px * $percent-md;
		border-radius: 50px * $percent-md;
    }
	h1{
		margin: 70px 0 0 0;
		font-size: 60px;
		font-weight: 600;
		@media (max-width: $screen-lg) {
			margin: 70px * $percent-lg 0 0 0;
			font-size: 60px * $percent-lg;
	    }
	    @media (max-width: $screen-md) {
			margin: 70px * $percent-md 0 0 0;
			font-size: 60px * $percent-md;
	    }
	}
}
.add-deal-step-three,.add-deal-step-two,.add-deal-step-one{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 110px;
	border-radius: 50px;
	@media (max-width: $screen-lg) {
		padding: 0 110px * $percent-lg;
		border-radius: 50px * $percent-lg;
	}
	@media (max-width: $screen-md) {
		padding: 0 110px * $percent-md;
		border-radius: 50px * $percent-md;
	}
	form{
		margin: 80px 0 0 0;
		width: 100%;
		@media (max-width: $screen-lg) {
			margin: 80px * $percent-lg 0 0 0;
		}
		@media (max-width: $screen-md) {
			margin: 80px * $percent-md 0 0 0;
		}
		label{
			display: none;
		}
	}
	.form-group{
		float: left;
		width: 650px;
		margin: 0 0 0 80px;
		@media (max-width: $screen-lg) {
			width: 650px * $percent-lg;
			margin: 0 0 0 80px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			width: 650px * $percent-md;
			margin: 0 0 0 80px * $percent-md;
		}
	}
	.form-control{
		width: 570px;
		height: 100px;
		padding: 20px;
		margin: 0 0 30px 0;
		float: right;
		border: none;
	    border-bottom: 2px solid #e3e3e3;
	    border-radius: 0;
	    font-size: 38px;
	    @media (max-width: $screen-lg) {
	    	width: 570px * $percent-lg ;
			height: 100px * $percent-lg ;
			padding: 20px * $percent-lg ;
			margin: 0 0 30px * $percent-lg  0;
		    font-size: 38px * $percent-lg ;
		}
		@media (max-width: $screen-md) {
	    	width: 570px * $percent-md ;
			height: 100px * $percent-md ;
			padding: 20px * $percent-md ;
			margin: 0 0 30px * $percent-md  0;
		    font-size: 38px * $percent-md ;
		}
	}
	.upload-file{
		position: relative;
		width: 620px;
		height: 440px;
		border: 2px dotted #e3e3e3;
		font-size: 30px;
		border-radius: 20px;
		margin: 0;
		@media (max-width: $screen-lg) {
			width: 620px * $percent-lg;
			height: 440px * $percent-lg;
			font-size: 30px * $percent-lg;
			border-radius: 20px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			width: 620px * $percent-md;
			height: 440px * $percent-md;
			font-size: 30px * $percent-md;
			border-radius: 20px * $percent-md;
		}
		input{
			display: block;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    opacity: 0;
		}
		p{
			margin: 30px 80px 0 80px;
			@media (max-width: $screen-lg) {
				margin: 30px * $percent-lg 80px * $percent-lg 0 80px * $percent-lg;
			}
			@media (max-width: $screen-md) {
				margin: 30px * $percent-md 80px * $percent-md 0 80px * $percent-md;
			}
			a{
				text-decoration: underline;
			}
		}
	}
	.upload{
		margin: 30px 0 0 0;
		position: relative;
		display: inline-block;
		width: 400px;
		height: 250px;
		background: url(../images/upload-add-deal@2x.png) no-repeat center center;
		background-size: cover;
		@media (max-width: $screen-lg) {
			margin: 30px * $percent-lg 0 0 0;
			width: 400px * $percent-lg;
			height: 250px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			margin: 30px * $percent-md 0 0 0;
			width: 400px * $percent-md;
			height: 250px * $percent-md;
		}
	}


	.deal-icon{
		height: 50px;
    	width: 40px;
    	@media (max-width: $screen-lg) {
    		height: 50px * $percent-lg;
    		width: 40px * $percent-lg;
		}
		@media (max-width: $screen-md) {
    		height: 50px * $percent-lg;
    		width: 40px * $percent-lg;
		}
	}
}
.form-group-buttom{
		position: relative;
	    position: absolute;
	    bottom: 50px;
	    left: 50%;
	    width: 310px;
	    font-size: 32px;
	    color: #fff;
	    margin: 0 0 0 -160px;
	    @media (max-width: $screen-lg) {
	    	bottom: 50px * $percent-lg;
		    width: 310px * $percent-lg;
		    font-size: 32px * $percent-lg;
		    margin: 0 0 0 -160px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	bottom: 50px * $percent-md;
		    width: 310px * $percent-md;
		    font-size: 32px * $percent-md;
		    margin: 0 0 0 -160px * $percent-md;
		}
}
.btn-add-deal{
	    width: 310px;
	    height: 80px;
	    font-size: 32px;
	    line-height: normal;
	    @media (max-width: $screen-lg) {
	    	width: 310px * $percent-lg;
		    height: 80px * $percent-lg;
		    font-size: 32px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	width: 310px * $percent-md;
		    height: 80px * $percent-md;
		    font-size: 32px * $percent-md;
		}
	    &:hover{
	    	background: #28a5a6;
	    	color: #fff;
	    }
}
.deal-icon{
	margin: 20px 0 0 0;
    display: block;
    float: left;
  	background: center center no-repeat;
  	background-size: cover;
  	@media (max-width: $screen-lg) {
  		margin: 20px * $percent-lg 0 0 0;
	}
	@media (max-width: $screen-md) {
  		margin: 20px * $percent-md 0 0 0;
	}
}
.bags-on{
	background-image: url(../images/bags-on@2x.png);
}
.bags-off{
	background-image: url(../images/bags-off@2x.png);
}
.maps-on{
	background-image: url(../images/maps-on@2x.png);
}
.maps-off{
	background-image: url(../images/maps-off@2x.png);
}

.add-deal-step-three form, .add-deal-step-two form{
		margin: 50px 0 0 0;
		width: 640px;
		display: inline-block;
		@media (max-width: $screen-lg) {
			margin: 50px * $percent-lg 0 0 0;
			width: 640px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			margin: 50px * $percent-md 0 0 0;
			width: 640px * $percent-md;
		}
		.form-group{
			margin: 0;
		}
		.form-group-buttom{
		    width: 660px;
		    margin: 0 0 0 -330px;
		    @media (max-width: $screen-lg) {
		    	width: 660px * $percent-lg;
		    	margin: 0 0 0 -330px * $percent-lg;
			}
			@media (max-width: $screen-md) {
		    	width: 660px * $percent-md;
		    	margin: 0 0 0 -330px * $percent-md;
			}
		    button{
		    	&:first-child{
		    		float: left;
		    	}
		    	&:last-child{
		    		float: right;
		    	}
		    }
		}
		.form-control{
		    @media (max-width: $screen-lg) {
		    	width: 550px * $percent-lg ;
			}
			@media (max-width: $screen-md) {
		    	width: 550px * $percent-md ;
			}
		}
}

.add-deal-step-three .deal-icon{
		height: 50px;
    	width: 50px;
    	margin: 30px 0 0 0;
    	@media (max-width: $screen-lg) {
    		margin: 30px * $percent-lg 0 0 0;
    		height: 50px * $percent-lg;
    		width: 50px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			margin: 30px * $percent-md 0 0 0;
    		height: 45px * $percent-md;
    		width: 45px * $percent-md;
		}
	}

.add-deal-step-two .deal-icon{
	height: 50px;
    width: 60px;
	margin: 30px 0 0 0;
  	@media (max-width: $screen-lg) {
  		margin: 30px * $percent-lg 0 0 0;
  		height: 50px * $percent-lg;
    	width: 60px * $percent-lg;
	}
	@media (max-width: $screen-md) {
  		margin: 30px * $percent-md 0 0 0;
  		height: 45px * $percent-md;
    	width: 50px * $percent-md;
	}
}
.add-deal-step-three ,.add-deal-step-two{
	h1{
		margin: 100px 0 0 0;
		@media (max-width: $screen-lg) {
			margin: 100px * $percent-lg 0 0 0;
	    }
	    @media (max-width: $screen-md) {
			margin: 100px * $percent-md 0 0 0;
	    }
	}
}
.description-on{
	background-image: url(../images/description-on@2x.png);
}
.description-off{
	background-image: url(../images/description-off@2x.png);
}
.participant-on{
	background-image: url(../images/participant-on.png);
}
.participant-off{
	background-image: url(../images/participant-off.png);
}
.category-on{
	background-image: url(../images/category-on@2x.png);
}
.category-off{
	background-image: url(../images/category-off@2x.png);
}
.date-on{
	background-image: url(../images/date-on@2x.png);
}
.date-off{
	background-image: url(../images/date-off@2x.png);
}
.reduction-on{
	width: 60px;
    height: 60px;
    @media (max-width: $screen-lg) {
    	width: 60px * $percent-lg;
    	height: 60px * $percent-lg;
	}
	@media (max-width: $screen-md) {
    	width: 60px * $percent-md;
    	height: 60px * $percent-md;
	}
	background-image: url(../images/reduction-on@2x.png);
}
.reduction-off{
	width: 60px;
    height: 60px;
    @media (max-width: $screen-lg) {
    	width: 60px * $percent-lg;
    	height: 60px * $percent-lg;
	}
	@media (max-width: $screen-md) {
    	width: 60px * $percent-md;
    	height: 60px * $percent-md;
	}
	background-image: url(../images/reduction-off@2x.png);
}
.icon-arrow{
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 48px;
    height: 50px;
    width: 50px;
    background: #fff;
    @media (max-width: $screen-lg) {
    	top: 30px * $percent-lg;
	    font-size: 48px * $percent-lg;
	    height: 50px * $percent-lg;
	    width: 50px * $percent-lg;
	}
	@media (max-width: $screen-md) {
    	top: 30px * $percent-md;
	    font-size: 48px * $percent-md;
	    height: 50px * $percent-md;
	    width: 50px * $percent-md;
	}
}


    select.form-control {
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none !important;
      position: relative;
      background: transparent;
    }   
    select.form-control::-ms-expand {
      display: none;
    }
