.my-deals-page{
	margin: 0 150px;
		@media (max-width: $screen-lg-deal) {
			margin: 0 150px * $percent-lg-deal;
    }
    @media (max-width: $screen-md-deal) {
    	margin: 0 150px * $percent-md-deal;
    }
        @media (max-width: $screen-sm-deal) {
        	margin: 0 150px * $percent-sm-deal;
    }
}
.deals-header{
	font-size: 50px;
	text-align: center;
	position: relative;
	margin: 100px 0 0 0;
	@media (max-width: $screen-lg-deal) {
		margin: 100px * $percent-lg-deal 0 0 0;
    }
    @media (max-width: $screen-md-deal) {
      margin: 100px * $percent-md-deal 0 0 0;
    }
        @media (max-width: $screen-sm-deal) {
      margin: 100px * $percent-sm-deal 0 0 0;
    }
	ul{
		position: relative;
		color: #fff;
		display: inline-block;
		padding: 0 40px;
		border-radius: 40px;
		background: rgba(0,0,0, .5);
		@media (max-width: $screen-lg-deal) {
			padding: 0 40px * $percent-lg-deal;
			border-radius: 40px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			padding: 0 40px * $percent-md-deal;
			border-radius: 40px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			padding: 0 40px * $percent-sm-deal;
			border-radius: 40px * $percent-sm-deal;
		}
		.active{
			background: rgba(0,0,0, .6);
			border-color: rgba(0,0,0, .6);
			& + li{
				border-color: rgba(0,0,0, .6);
			}
		}
		li{
			float: left;
			font-size: 27px;
			padding: 25px 40px;
			cursor: pointer;
			@media (max-width: $screen-lg-deal) {
				font-size: 27px * $percent-lg-deal;
				padding: 25px * $percent-lg-deal 40px * $percent-lg-deal;
		    }
		    @media (max-width: $screen-md-deal) {
				font-size: 27px * $percent-md-deal;
				padding: 25px * $percent-md-deal 40px * $percent-md-deal;
		    }
		    		    @media (max-width: $screen-sm-deal) {
				font-size: 27px * $percent-md-deal;
				padding: 25px * $percent-md-deal 40px * $percent-md-deal;
		    }
			border-left: 1px solid rgba(255, 255, 255, 0.5);
			&:last-child{
				border-right: 1px solid rgba(255, 255, 255, 0.5);
			}
		}
	}
	>span{
		position: absolute;
		top: 10px;
		left:0;
		font-size: 50px;
		@media (max-width: $screen-lg-deal) {
			/*top: 10px * $percent-lg-deal;*/
			font-size: 50px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			/*top: 10px * $percent-md-deal;*/
			font-size: 50px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			/*top: 10px * $percent-md-deal;*/
			font-size: 50px * $percent-sm-deal;
		}
	}
}
.my-archived{
	font-size: 24px;
	position: absolute;
	top: 25px;
	right: -200px;
	color: #000;
	@media (max-width: $screen-lg-deal) {
		font-size: 24px * $percent-lg-deal;
		top: 25px * $percent-lg-deal;
		right: -200px * $percent-lg-deal;
    }
    @media (max-width: $screen-md-deal) {
		font-size: 24px * $percent-md-deal;
		top: 25px * $percent-md-deal;
		right: -200px * $percent-md-deal;
    }
        @media (max-width: $screen-sm-deal) {
		font-size: 24px * $percent-sm-deal;
		top: 25px * $percent-sm-deal;
		right: -200px * $percent-sm-deal;
    }
}

.my-deal-content{
	width: 100%;
	text-align: center;
	margin: 100px 0 0 0;
	@media (max-width: $screen-lg-deal) {
		margin: 100px * $percent-lg-deal 0 0 0;
    }
    @media (max-width: $screen-md-deal) {
		margin: 100px * $percent-md-deal 0 0 0;
    }
        @media (max-width: $screen-sm-deal) {
		margin: 100px * $percent-sm-deal 0 0 0;
    }
}
.my-deal{
	display: inline-block;
	width: 100%;
	width: 1900px;
	margin: 0 0 100px 0;
	@media (max-width: $screen-lg-deal) {
		width: 1900px * $percent-lg-deal;
		margin: 0 0 100px * $percent-lg-deal 0;
    }
    @media (max-width: $screen-md-deal) {
		width: 1900px * $percent-md-deal;
		margin: 0 0 100px * $percent-md-deal 0;
    }
        @media (max-width: $screen-sm-deal) {
		width: 1900px * $percent-sm-deal;
		margin: 0 0 100px * $percent-sm-deal 0;
    }
}
.view-store{
	float: left;
	width: 550px;
	height: 420px;
	position: relative;
	background: #eaeaea center center no-repeat;
	background-size: cover;
	@media (max-width: $screen-lg-deal) {
		width: 550px * $percent-lg-deal;
		height: 420px * $percent-lg-deal;
    }
    @media (max-width: $screen-md-deal) {
		width: 550px * $percent-md-deal;
		height: 420px * $percent-md-deal;
    }
        @media (max-width: $screen-sm-deal) {
		width: 550px * $percent-sm-deal;
		height: 420px * $percent-sm-deal;
    }
	.up-to{
		text-align: left;
		padding: 0 10px 0 40px;
		font-size: 22px;
		line-height: 80px;
		height: 80px;
		width: 180px;
		background-color: #000;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		@media (max-width: $screen-lg-deal) {
			padding: 0 10px * $percent-lg-deal 0 40px * $percent-lg-deal;
			font-size: 22px * $percent-lg-deal;
			line-height: 80px * $percent-lg-deal;
			height: 80px * $percent-lg-deal;
			width: 180px * $percent-lg-deal;
	    }
	    @media (max-width: $screen-md-deal) {
			padding: 0 10px * $percent-md-deal 0 40px * $percent-md-deal;
			font-size: 22px * $percent-md-deal;
			line-height: 80px * $percent-md-deal;
			height: 80px * $percent-md-deal;
			width: 180px * $percent-md-deal;
	    }
	    	    @media (max-width: $screen-sm-deal) {
			padding: 0 10px * $percent-sm-deal 0 40px * $percent-sm-deal;
			font-size: 22px * $percent-sm-deal;
			line-height: 80px * $percent-sm-deal;
			height: 80px * $percent-sm-deal;
			width: 180px * $percent-sm-deal;
	    }
	}
}
.up-to-circle:after{
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background-color: #f65a5a;
		position: absolute;
		top: 35px;
		left: 15px;
		@media (max-width: $screen-lg-deal) {
			width: 10px * $percent-lg-deal;
			height: 10px * $percent-lg-deal;
			top: 35px * $percent-lg-deal;
			left: 15px * $percent-lg-deal;
	    }
	    @media (max-width: $screen-md-deal) {
			width: 10px * $percent-md-deal;
			height: 10px * $percent-md-deal;
			top: 35px * $percent-md-deal;
			left: 15px * $percent-md-deal;
	    }
	    	    @media (max-width: $screen-sm-deal) {
			width: 10px * $percent-sm-deal;
			height: 10px * $percent-sm-deal;
			top: 35px * $percent-sm-deal;
			left: 15px * $percent-sm-deal;
	    }
}

.deal-members{
	float: left;
	margin: 0 0 0 130px;
	width: 1170px;
	@media (max-width: $screen-lg-deal) {
		width: 1170px * $percent-lg-deal;
		margin: 0 0 0 180px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		width: 1170px * $percent-md-deal;
		margin: 0 0 0 180px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
		width: 1170px * $percent-sm-deal;
		margin: 0 0 0 180px * $percent-sm-deal;
	}
}

.deal-members{
	text-align: left;
	h1{
		font-size: 48px;
		font-weight: 600px;
		width: 100%;
	@media (max-width: $screen-lg-deal) {
		font-size: 48px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		font-size: 48px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
		font-size: 48px * $percent-sm-deal;
	}
	}
}
.deal-date-end{
		font-size: 22px;
		color: $btn-disable;
		margin: 30px 0 0 0;
		width: 100%;
		@media (max-width: $screen-lg-deal) {
			margin: 30px * $percent-lg-deal 0 0 0;
			font-size: 22px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			margin: 30px * $percent-md-deal 0 0 0;
			font-size: 22px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			margin: 30px * $percent-sm-deal 0 0 0;
			font-size: 22px * $percent-sm-deal;
		}
}
.event-button{
		margin: 20px 0 0 0;
		@media (max-width: $screen-lg-deal) {
			margin: 20px * $percent-lg-deal 0 0 0;
		}
		@media (max-width: $screen-md-deal) {
			margin: 20px * $percent-md-deal 0 0 0;
		}
				@media (max-width: $screen-sm-deal) {
			margin: 20px * $percent-sm-deal 0 0 0;
		}
		button{
			font-size: 26px;
			width: 270px;
			height: 70px;
			border-radius: 5px;
			float: left;
			margin: 0 20px 35px 0px;
			@media (max-width: $screen-lg-deal) {
				font-size: 26px * $percent-lg-deal;
				width: 270px * $percent-lg-deal;
				height: 70px * $percent-lg-deal;
				border-radius: 5px * $percent-lg-deal;
				margin: 0 20px * $percent-lg-deal 35px * $percent-lg-deal 0;
			}
			@media (max-width: $screen-md-deal) {
				font-size: 26px * $percent-md-deal;
				width: 270px * $percent-md-deal;
				height: 70px * $percent-md-deal;
				border-radius: 5px * $percent-md-deal;
				margin: 0 20px * $percent-md-deal 35px * $percent-md-deal 0;
			}
						@media (max-width: $screen-sm-deal) {
				font-size: 26px * $percent-sm-deal;
				width: 270px * $percent-sm-deal;
				height: 70px * $percent-sm-deal;
				border-radius: 5px * $percent-sm-deal;
				margin: 0 20px * $percent-sm-deal 35px * $percent-sm-deal 0;
			}
		}


}
.phase{
	position: relative;
	float:left;
	margin: 0 0 0 90px;
	font-size: 26px;
	width: 470px;
	@media (max-width: $screen-lg-deal) {
		margin: 0 0 0 90px * $percent-lg-deal;
		font-size: 26px * $percent-lg-deal;
		max-width: 470px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		margin: 0 0 0 90px * $percent-md-deal;
		font-size: 26px * $percent-md-deal;
		max-width: 470px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
		margin: 0 0 0 90px * $percent-sm-deal;
		font-size: 26px * $percent-sm-deal;
		max-width: 470px * $percent-sm-deal;
	}
	h2{
		font-weight: 600;
		width: 100%;
	}
	p{
		margin: 5px 0 0 0;
	}

}
.icon-phase{
		position: absolute;
		display: block;
		width: 50px;
		height: 50px;
		background: url(../images/info@2x.png) no-repeat center center;
		background-size: cover;
		top: 10px;
		left: -70px;
		@media (max-width: $screen-lg-deal) {
			width: 50px * $percent-lg-deal;
			height: 50px * $percent-lg-deal;
			top: 10px * $percent-lg-deal;
			left: -70px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			width: 50px * $percent-md-deal;
			height: 50px * $percent-md-deal;
			top: 10px * $percent-md-deal;
			left: -70px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			width: 50px * $percent-sm-deal;
			height: 50px * $percent-sm-deal;
			top: 10px * $percent-sm-deal;
			left: -70px * $percent-sm-deal;
		}

}
.list-member{
	float: left;
	width: 100%;
	.member-size{
		color: $btn-disable;
		font-size: 21px;
		@media (max-width: $screen-lg-deal) {
			font-size: 21px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			font-size: 21px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			font-size: 21px * $percent-sm-deal;
		}
	}
	ul{
		float: left;
		margin: 30px 0 0 0;
		@media (max-width: $screen-lg-deal) {
			margin: 30px * $percent-lg-deal 0 0 0;
		}
		@media (max-width: $screen-md-deal) {
			margin: 30px * $percent-md-deal 0 0 0;
		}
				@media (max-width: $screen-sm-deal) {
			margin: 30px * $percent-sm-deal 0 0 0;
		}
	
	}
	li{
		float: left;
		margin: 0 50px 0 0;
		@media (max-width: $screen-lg-deal) {
			margin: 0 50px * $percent-lg-deal 0 0;
		}
		@media (max-width: $screen-md-deal) {
			margin: 0 50px * $percent-md-deal 0 0;
		}
				@media (max-width: $screen-sm-deal) {
			margin: 0 50px * $percent-sm-deal 0 0;
		}
		>span{
			font-size: 25px;
			font-weight: 600;
			float: left;
			@media (max-width: $screen-lg-deal) {
				font-size: 25px * $percent-lg-deal;
			}
			@media (max-width: $screen-md-deal) {
				font-size: 25px * $percent-md-deal;
			}
						@media (max-width: $screen-sm-deal) {
				font-size: 25px * $percent-sm-deal;
			}
		}
	}
	.member-user{
		position: relative;
		display: block;
		border-radius: 100%;
		width: 107px;
		height: 107px;
		background: $btn-disable no-repeat center center;
		background-size: cover;
		margin: 0 30px 0 0;
		@media (max-width: $screen-lg-deal) {
			width: 107px * $percent-lg-deal;
			height: 107px * $percent-lg-deal;
			margin: 0 30px * $percent-lg-deal 0 0;
		}
		@media (max-width: $screen-md-deal) {
			width: 107px * $percent-md-deal;
			height: 107px * $percent-md-deal;
			margin: 0 30px * $percent-md-deal 0 0;
		}
				@media (max-width: $screen-sm-deal) {
			width: 107px * $percent-sm-deal;
			height: 107px * $percent-sm-deal;
			margin: 0 30px * $percent-sm-deal 0 0;
		}
	}
}
.desc-member{
	max-width: 200px;
	@media (max-width: $screen-lg-deal) {
			max-width: 200px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
			max-width: 200px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
			max-width: 200px * $percent-sm-deal;
	}
	>span{
		float: left;
}
.member-rating{
	width: 100%;
	}
	.star{
		float: left;
		display: block;
		width: 30px;
		height: 30px;
		background: url(../images/star-off@2x.png) no-repeat center center;
		background-size: cover;
		@media (max-width: $screen-lg-deal) {
			width: 30px * $percent-lg-deal;
			height: 30px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			width: 30px * $percent-md-deal;
			height: 30px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			width: 30px * $percent-sm-deal;
			height: 30px * $percent-sm-deal;
		}
	}
	.phone-number{
		float: left;
		font-size: 25px;
		margin: 25px 0 0 0;
		@media (max-width: $screen-lg-deal) {
			margin: 25px * $percent-lg-deal 0 0 0;
			font-size: 25px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			margin: 25px * $percent-md-deal 0 0 0;
			font-size: 25px * $percent-md-deal;
		}
				@media (max-width: $screen-sm-deal) {
			margin: 25px * $percent-sm-deal 0 0 0;
			font-size: 25px * $percent-sm-deal;
		}
	}
}
.split-call:after{
    content: '';
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: #fff url(../images/split_call@2x.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: 1px solid #fff;
    @media (max-width: $screen-lg-deal) {
    	width: 50px * $percent-lg-deal;
	    height: 50px * $percent-lg-deal;
	    bottom: -10px * $percent-lg-deal;
	    right: -10px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 50px * $percent-md-deal;
	    height: 50px * $percent-md-deal;
	    bottom: -10px * $percent-md-deal;
	    right: -10px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
    	width: 50px * $percent-sm-deal;
	    height: 50px * $percent-sm-deal;
	    bottom: -10px * $percent-sm-deal;
	    right: -10px * $percent-sm-deal;
	}
}
.split-review:after{
    content: '';
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: #fff url(../images/split_review@2x.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: 1px solid #fff;
    cursor: pointer;
    @media (max-width: $screen-lg-deal) {
    	width: 50px * $percent-lg-deal;
	    height: 50px * $percent-lg-deal;
	    bottom: -10px * $percent-lg-deal;
	    right: -10px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 50px * $percent-md-deal;
	    height: 50px * $percent-md-deal;
	    bottom: -10px * $percent-md-deal;
	    right: -10px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
    	width: 50px * $percent-sm-deal;
	    height: 50px * $percent-sm-deal;
	    bottom: -10px * $percent-sm-deal;
	    right: -10px * $percent-sm-deal;
	}
}
.split-reviewed:after{
    content: '';
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: #fff url(../images/split_reviewed.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: 1px solid #fff;
    @media (max-width: $screen-lg-deal) {
    	width: 50px * $percent-lg-deal;
	    height: 50px * $percent-lg-deal;
	    bottom: -10px * $percent-lg-deal;
	    right: -10px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 50px * $percent-md-deal;
	    height: 50px * $percent-md-deal;
	    bottom: -10px * $percent-md-deal;
	    right: -10px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
    	width: 50px * $percent-sm-deal;
	    height: 50px * $percent-sm-deal;
	    bottom: -10px * $percent-sm-deal;
	    right: -10px * $percent-sm-deal;
	}
}
.split-participating:after{
	content: '';
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: #fff url(../images/participating.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: 1px solid #fff;
    @media (max-width: $screen-lg-deal) {
    	width: 50px * $percent-lg-deal;
	    height: 50px * $percent-lg-deal;
	    bottom: -10px * $percent-lg-deal;
	    right: -10px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 50px * $percent-md-deal;
	    height: 50px * $percent-md-deal;
	    bottom: -10px * $percent-md-deal;
	    right: -10px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
    	width: 50px * $percent-sm-deal;
	    height: 50px * $percent-sm-deal;
	    bottom: -10px * $percent-sm-deal;
	    right: -10px * $percent-sm-deal;
	}
}
.split-waiting:after{
    content: '';
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: #fff url(../images/split_waiting@2x.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: 1px solid #fff;
    @media (max-width: $screen-lg-deal) {
    	width: 50px * $percent-lg-deal;
	    height: 50px * $percent-lg-deal;
	    bottom: -10px * $percent-lg-deal;
	    right: -10px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 50px * $percent-md-deal;
	    height: 50px * $percent-md-deal;
	    bottom: -10px * $percent-md-deal;
	    right: -10px * $percent-md-deal;
	}
		@media (max-width: $screen-sm-deal) {
    	width: 50px * $percent-sm-deal;
	    height: 50px * $percent-sm-deal;
	    bottom: -10px * $percent-sm-deal;
	    right: -10px * $percent-sm-deal;
	}
}
.reviewed, .participating, .review, .waiting{
	font-size: 20px;
	margin: 15px 0 0 0;
	@media (max-width: $screen-lg-deal) {
		font-size: 15px * $percent-lg-deal;
		margin: 25px * $percent-lg-deal 0 0 0;
	}
	@media (max-width: $screen-md-deal) {
		font-size: 15px * $percent-md-deal;
		margin: 25px * $percent-md-deal 0 0 0;
	}	
		@media (max-width: $screen-sm-deal) {
		font-size: 15px * $percent-sm-deal;
		margin: 25px * $percent-sm-deal 0 0 0;
	}
}
.reviewed, .waiting{
	color: $btn-disable;
}
.review{
	text-decoration: underline;
	cursor: pointer;
}


.btn-confirmation{
	background: #6fc6aa;
	color: #fff;
}
.btn-active {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.refresh{
    margin: 0 20px 0 0;
    font-size: 25px;
    position: relative;
    top: 2px;
    	@media (max-width: $screen-lg-deal) {
    		    margin: 0 20px * $percent-lg-deal 0 0;
    font-size: 25px * $percent-lg-deal;
    top: 2px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		    margin: 0 20px * $percent-md-deal 0 0;
    font-size: 25px * $percent-md-deal;
    top: 2px * $percent-md-deal;
	}	
	@media (max-width: $screen-sm-deal) {
	margin: 0 20px * $percent-sm-deal 0 0;
    font-size: 25px * $percent-sm-deal;
    top: 2px * $percent-sm-deal;
	}
}
.deals-leave-review{
	width: 	1150px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	@media (max-width: $screen-lg-deal) {
    	width: 	1150px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 	1150px * $percent-md-deal;
	}
	h1{
		font-size: 130px;
		font-family: 'Myriad Pro', 'Open Sans', Arial, Verdana, Helvetica, sans-serif;
		width: 100%;
		font-style: italic;
		margin: 150px 0 0 0;
		@media (max-width: $screen-lg-deal) {
			font-size: 130px * $percent-lg-deal;
			margin: 150px * $percent-lg-deal 0 0 0;
		}
		@media (max-width: $screen-md-deal) {
			font-size: 130px * $percent-md-deal;
			margin: 150px * $percent-md-deal 0 0 0;
		}
	}
	h2{
		font-size: 50px;
		width: 100%;
		margin: 60px 0 50px 0;
		@media (max-width: $screen-lg-deal) {
			font-size: 50px * $percent-lg-deal;
			margin: 60px * $percent-lg-deal 0 50px * $percent-lg-deal 0;
		}
		@media (max-width: $screen-md-deal) {
			font-size: 50px * $percent-md-deal;
			margin: 60px * $percent-md-deal 0 50px * $percent-md-deal 0;
		}
	}
	.user-avatar{
		width: 320px;
		height: 320px;
		border-radius: 100%;
		background: #d8d8d8 url(../images/no_ppp@x.jpg) no-repeat center center;
		background-size: cover;
		display: inline-block;
		@media (max-width: $screen-lg-deal) {
			width: 320px * $percent-lg-deal;
			height: 320px * $percent-lg-deal;
		}
		@media (max-width: $screen-md-deal) {
			width: 320px * $percent-md-deal;
			height: 320px * $percent-md-deal;
		}
	}
	form{
		width: 100%;
		margin: 60px 0 0 0;
		@media (max-width: $screen-lg-deal) {
			margin: 60px * $percent-lg-deal 0 0 0;
		}
		@media (max-width: $screen-md-deal) {
			margin: 60px * $percent-md-deal 0 0 0;
		}
	}
	.form-group{
		label{
			display: none;
		}
		width: 100%;
		margin: 0 0 50px 0;
		@media (max-width: $screen-lg-deal) {
			margin: 0 0 50px * $percent-lg-deal 0;
		}
		@media (max-width: $screen-md-deal) {
			margin: 0 0 50px * $percent-md-deal 0;
		}
		textarea{
			border: 0;
		    border-bottom: 5px solid #000;
		    font-size: 40px;
		    height: 100px;
		    font-weight: 100;
		    background: transparent;
		    color: #26292e;
		    @media (max-width: $screen-lg-deal) {
		    	border-bottom: 5px * $percent-lg-deal solid #000;
			    font-size: 40px * $percent-lg-deal;
			    height: 100px * $percent-lg-deal;
			}
			@media (max-width: $screen-md-deal) {
		    	border-bottom: 5px * $percent-md-deal solid #000;
			    font-size: 40px * $percent-md-deal;
			    height: 100px * $percent-md-deal;
			}
		}
	}
	.review-send{
		width: 520px;
		height: 100px;
		font-size: 40px;
		background: #fdae5d;
		color: #fff;
		border-radius: 5px;
		margin: 50px 0 0 0;
		@media (max-width: $screen-lg-deal) {
			width: 520px * $percent-lg-deal;
			height: 100px * $percent-lg-deal;
			font-size: 40px * $percent-lg-deal;
			border-radius: 5px * $percent-lg-deal;
			margin: 50px * $percent-lg-deal 0 0 0;
		}
		@media (max-width: $screen-md-deal) {
			width: 520px * $percent-md-deal;
			height: 100px * $percent-md-deal;
			font-size: 40px * $percent-md-deal;
			border-radius: 5px * $percent-md-deal;
			margin: 50px * $percent-md-deal 0 0 0;
		}
	}
}
.rating {
    display: inline-block;
    text-align: center;
    width: 400px;
    font-size: 70px;
    @media (max-width: $screen-lg-deal) {
    	width: 400px * $percent-lg-deal;
    	font-size: 70px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	width: 400px * $percent-md-deal;
    	font-size: 70px * $percent-md-deal;
	}
}
.rating-star {
	float: left;
    width: 70px;
    height: 70px;
    background: url(../images/star.png) no-repeat center center;
    background-size: cover;
    margin: 0 10px 0 0;
    @media (max-width: $screen-lg-deal) {
    	width: 70px * $percent-lg-deal;
	    height: 70px * $percent-lg-deal;
	    margin: 0 10px * $percent-lg-deal 0 0;
	}
	@media (max-width: $screen-md-deal) {
    	width: 70px * $percent-md-deal;
	    height: 70px * $percent-md-deal;
	    margin: 0 10px * $percent-md-deal 0 0;
	}
}

.modal-review .modal-backdrop {
    background-color: #fff;
}
.modal-review .modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modalNoDeal .modal-content {
	border: none;
	box-shadow: none;
	background: none;
}
.close-view{
    font-size: 140px;
    height: 130px;
    width: 130px;
    position: absolute;
    top: 0px;
    right: -400px;
    background: url(../images/icon-close.png) no-repeat center center !important;
    background-size: cover  !important;
    opacity: 1;
    @media (max-width: $screen-lg-deal) {
    	font-size: 140px * $percent-lg-deal;
	    height: 130px * $percent-lg-deal;
	    width: 130px * $percent-lg-deal;
	    right: -400px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
   		font-size: 140px * $percent-md-deal;
	    height: 130px * $percent-md-deal;
	    width: 130px * $percent-md-deal;
	    right: -400px * $percent-md-deal;
	}
}
.deal-report{
	margin: 0 auto;
	width: 980px;
	position: relative;
	@media (max-width: $screen-lg) {
    	width: 980px * $percent-lg;
	}
	@media (max-width: $screen-md) {
   		width: 980px * $percent-md;
	}
}
.report-step-one{
		float: left;
		width: 100%;
		position: relative;
		padding: 0 0 0 380px;
		@media (max-width: $screen-lg) {
	    	padding: 0 0 0 380px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	padding: 0 0 0 380px * $percent-md;
		}
	.report-user{
			font-size: 26px;
		    position: absolute;
		    right: 40px;
		    top: 40px;
		@media (max-width: $screen-lg) {
	    	font-size: 26px * $percent-lg;
	    	right: 40px * $percent-lg;
		    top: 40px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	font-size: 26px * $percent-md;
	    	right: 40px * $percent-md;
		    top: 40px * $percent-md;
		}
	}
}
.report-step-two{
	text-align: center;
	float: left;
	width: 100%;
}
.header-deal-report{
	height: 380px;
	//margin: 120px 0 0 0;
	float: left;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom left, #E6DDDA 0%, #D0D2D3 20%, #dfdad8 60%, #CDD0D1 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom left, #E6DDDA 0%, #D0D2D3 20%, #dfdad8 60%, #CDD0D1 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom left, #E6DDDA 0%, #D0D2D3 20%, #dfdad8 60%, #CDD0D1 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #E6DDDA), color-stop(20, #D0D2D3), color-stop(60, #dfdad8), color-stop(100, #CDD0D1));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom left, #E6DDDA 0%, #D0D2D3 20%, #dfdad8 60%, #CDD0D1 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top right, #E6DDDA 0%, #D0D2D3 20%, #dfdad8 60%, #CDD0D1 100%);
    width: 100%;
    position: relative;
    
    border-radius: 50px 50px 0 0;
    @media (max-width: $screen-lg) {
    	//margin: 120px * $percent-lg 0 0 0;
    	border-radius: 50px * $percent-lg 50px * $percent-lg 0 0;
    	height: 380px * $percent-lg;
	}
	@media (max-width: $screen-md) {
		//margin: 120px * $percent-md 0 0 0;
		border-radius: 50px * $percent-md 50px * $percent-md 0 0;
    	height: 380px * $percent-md;
	}
    input{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		@media (max-width: $screen-lg) {
			width: 250px * $percent-lg;
			height: 250px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			width: 250px * $percent-md;
			height: 250px * $percent-md;
		}
	}
	.user-avatar{
	    width: 220px;
	    height: 220px;
	    position: absolute;
	    top: 80px;
	    left: 100px;
	    @media (max-width: $screen-lg) {
	    	width: 220px * $percent-lg;
		    height: 220px * $percent-lg;
		    top: 80px * $percent-lg;
		    left: 100px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	width: 220px * $percent-md;
		    height: 220px * $percent-md;
		    top: 80px * $percent-md;
		    left: 100px * $percent-md;
		}
	}
	h1{
		float: left;
		margin: 110px 0 40px 0;
		font-size: 45px;
		width: 100%;
		@media (max-width: $screen-lg) {
			margin: 110px * $percent-lg 0 40px * $percent-lg 0;
			font-size: 45px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			margin: 110px * $percent-md 0 40px * $percent-md 0;
			font-size: 45px * $percent-md;
		}		
	}
	.user-rating{
		width: 100%;
		margin: 0 0 20px 0;
		@media (max-width: $screen-lg) {
			margin: 0 0 20px * $percent-lg 0;
		}
		@media (max-width: $screen-md) {
			margin: 0 0 20px * $percent-md 0;
		}	
	}
	.user-reviews{
		width: 100%;
		float: left;
		text-align: left;
		font-size: 24px;
		color: #b6b4b5;
		@media (max-width: $screen-lg) {
			font-size: 24px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			font-size: 24px * $percent-md;
		}
	}
	.star{
		height: 40px;
		width: 40px;
		@media (max-width: $screen-lg) {
			width: 40px * $percent-lg;
			height: 40px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			width: 40px * $percent-md;
			height: 40px * $percent-md;
		}
	}
	label{
		display: none;
	}
	p{
		font-size: 45px;
		width: 100%;
		margin: 100px 0 80px 0;
		@media (max-width: $screen-lg) {
			font-size: 45px * $percent-lg;
			margin: 100px * $percent-lg 0 80px * $percent-lg 0;
		}
		@media (max-width: $screen-md) {
			font-size: 45px * $percent-md;
			margin: 100px * $percent-md 0 80px * $percent-md 0;
		}
	}
	.btn-report{
		width: 180px;
		height: 70px;
		display: inline-block;
		border: 3px solid #f3f6f7;
		font-size: 30px;
		margin: 0 40px;
		text-decoration: none;
		@media (max-width: $screen-lg) {
			width: 180px * $percent-lg;
			height: 70px * $percent-lg;
			font-size: 30px * $percent-lg;
			margin: 0 40px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			width: 180px * $percent-md;
			height: 70px * $percent-md;
			font-size: 30px * $percent-md;
			margin: 0 40px * $percent-md;
		}
		&:hover{
			background: #f3f6f7;
		}
	}
}
.deal-report .list-reviews{
	width: 100%;
	background: #fff;
	padding: 60px 60px 0 100px;
	max-height: 800px;
	overflow: hidden;
	border-radius: 0 0 50px 50px;
	@media (max-width: $screen-lg) {
		padding: 60px * $percent-lg 60px * $percent-lg 0 100px * $percent-lg;
		max-height: 880px * $percent-lg;
		    border-radius: 0 0 50px * $percent-lg 50px * $percent-lg;
	}
	@media (max-width: $screen-md) {
		padding: 60px * $percent-md 60px * $percent-md 0 100px * $percent-md;
		max-height: 800px * $percent-md;
		    border-radius: 0 0 50px * $percent-lg 50px * $percent-lg;
	}

	.scrolllist, ul{
		margin-top: 0;
		float: left;
		width: 100%;
    	max-height: 710px;
    	min-height: 500px;
    	/*overflow-y: overlay;*/
    	overflow-y: hidden;
    	@media (max-width: $screen-lg) {
    		max-height: 710px * $percent-lg;
    		min-height: 500px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			max-height: 710px * $percent-md;
			min-height: 500px * $percent-md;
		}
		.ngsb-wrap .ngsb-scrollbar{
			.ngsb-thumb{
				background: #dddddd;
				width: 12px;
				@media (max-width: $screen-lg) {
		    		width: 12px * $percent-lg;
				}
				@media (max-width: $screen-md) {
					width: 12px * $percent-md;
				}
			}
			.ngsb-track{
				background: transparent;
    			box-shadow: none;
			} 
		}
	
	}
	.no-rewiews{
		padding: 0;
		text-align: left;
	}
	li{
	    position: relative;
	    min-height: 120px;
	    padding: 5px 0 0 150px;
    	float: left;
    	margin: 0 0 40px 0;
    	width: 100%;
    	@media (max-width: $screen-lg) {
    		min-height: 120px * $percent-lg;
		    padding: 5px * $percent-lg 0 0 150px * $percent-lg;
	    	margin: 0 0 40px * $percent-lg 0;
		}
		@media (max-width: $screen-md) {
    		min-height: 120px * $percent-md;
		    padding: 5px * $percent-md 0 0 150px * $percent-md;
	    	margin: 0 0 40px * $percent-md 0;
		}
	}
	.user-avatar{
	    display: block;
	    position: absolute;
	    width: 100px;
	    height: 100px;
	    left: 0px;
	    top: 0;
	    @media (max-width: $screen-lg) {
	    	width: 100px * $percent-lg;
	    	height: 100px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	width: 100px * $percent-md;
	    	height: 100px * $percent-md;
		}
	}
	h2{
		font-size: 28px;
		float: left;
		width: 50%;
		@media (max-width: $screen-lg) {
	    	font-size: 28px * $percent-lg;
		}
		@media (max-width: $screen-md) {
	    	font-size: 28px * $percent-md;
		}
	}
	.last-online{
		color: #b6b4b5;
		float: right;
    	width: 50%;
    	text-align: right;
    	padding: 0 150px 0 0;
    	font-size: 20px;
    	@media (max-width: $screen-lg) {
    		padding: 0 150px * $percent-lg 0 0;
    		font-size: 20px * $percent-lg;
		}
		@media (max-width: $screen-md) {
    		padding: 0 150px * $percent-md 0 0;
    		font-size: 20px * $percent-md;
		}
	}
	.user-rating{
		margin: 5px 0 0 0;
		width: 100%;
		@media (max-width: $screen-lg) {
			margin: 5px * $percent-lg 0 0 0;
		}
		@media (max-width: $screen-md) {
			margin: 5px * $percent-md 0 0 0;
		}
	}
	.star{
		width: 35px;
		height: 35px;
		@media (max-width: $screen-lg) {
			width: 35px * $percent-lg;
			height: 35px * $percent-lg;
		}
		@media (max-width: $screen-md) {
			width: 35px * $percent-md;
			height: 35px * $percent-md;
		}
	}
	p{
		float: left;
    	margin: 7px 0 0 0;
    	color: #b6b4b5;
    	font-size: 26px;
    	padding: 0 150px 0 0;
    	@media (max-width: $screen-lg) {
    		margin: 7px * $percent-lg 0 0 0;
    		font-size: 26px * $percent-lg;
    		padding: 0 150px * $percent-lg 0 0;
		}
		@media (max-width: $screen-md) {
			margin: 7px * $percent-md 0 0 0;
			font-size: 26px * $percent-md;
			padding: 0 150px * $percent-md 0 0;
		}
	}
}

.close-add-deals, .close-view-report{
	height: 70px;
    width: 70px;
    position: absolute;
    top: -35px;
    right: -90px;
    background: url(../images/icon-close-report.png) no-repeat center center !important;
    background-size: cover  !important;
    opacity: 1;
    @media (max-width: $screen-lg-deal) {
	    height: 70px * $percent-lg-deal;
	    width: 70px * $percent-lg-deal;
	    top: -35px * $percent-lg-deal;
	    right: -90px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
	    height: 70px * $percent-md-deal;
	    width: 70px * $percent-md-deal;
	    top: -35px * $percent-md-deal;
	    right: -90px * $percent-md-deal;
	}
}
.close-add-deals{
    top: -70px;
    @media (max-width: $screen-lg-deal) {
	    top: -70px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
	    top: -70px * $percent-md-deal;
	}
}
.deal-no{
	width: 530px;
	margin: 0 auto;
	@media (max-width: $screen-lg-deal) {
		width: 530px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		width: 530px * $percent-md-deal;
	}
}
.btn-exploretodeals{
    margin: 400px 0 400px 0;
    width: 530px !important;
    height: 100px !important;
    background: #fdae5d !important;
    opacity: 1;
    color: #fff;
    font-size: 34px;
    border-radius: 5px;
        text-decoration: none;
    @media (max-width: $screen-lg-deal) {
    	margin: 400px * $percent-lg-deal 0 400px * $percent-lg-deal 0;
	    width: 530px * $percent-lg-deal !important;
	    height: 100px * $percent-lg-deal !important;
	    font-size: 34px * $percent-lg-deal;
	    border-radius: 5px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
    	margin: 400px * $percent-lg-deal 0 400px * $percent-lg-deal 0;
	    width: 530px * $percent-md-deal !important;
	    height: 100px * $percent-md-deal !important;
	    font-size: 34px * $percent-md-deal;
	    border-radius: 5px * $percent-md-deal;
	}
}

.form-group .star-rating__wrap{
	display: inline-block;
	font-size: 60px;
	@media (max-width: $screen-lg-deal) {
		font-size: 60px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		font-size: 60px * $percent-md-deal;
	}
	label{
		display: block;
	}
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 6px;
	cursor: pointer;
	color: #838383;
	@media (max-width: $screen-lg-deal) {
		padding-left: 6px * $percent-lg-deal;
	}
	@media (max-width: $screen-md-deal) {
		padding-left: 6px * $percent-md-deal;
	}
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\e033";
  	color: #FFB300;
}
.user-online:before{
	content: '';
    width: 22px;
    height: 22px;
    display: block;
    background: #f56565;
    border-radius: 100%;
    border: 4px solid #fff;
    position: absolute;
    top: 8px;
    right: 0px;
    @media (max-width: $screen-lg) {
    	width: 22px * $percent-lg;
	    height: 22px * $percent-lg;
	    border-width: 4px * $percent-lg;
	    top: 8px * $percent-lg;
	}
	@media (max-width: $screen-md) {
    	width: 22px * $percent-md;
	    height: 22px * $percent-md;
	    border-width: 4px * $percent-md;
	    top: 8px * $percent-md;
	}
}
.participating, .review, .member-name{
	font-weight: 600;
}

.scrollbar-dynamic {
    overflow: hidden !important;
}

.scroll-wrapper > .scroll-content{
	overflow: hidden !important;
}
