$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//----------------{{ css fonts }}-----------------------
@import "global/font-elegant";

//----------------{{ css page }}-----------------------
@import "global/variable";
@import "global/loading-bar";
@import "page/defaultSettings";
@import "page/menu";
@import "page/explorer";
@import "page/deals";
@import "page/singup";
@import "page/profile";
@import "page/term";
@import "page/contact";
@import "page/adddeal";
@import "page/map";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
  display: none; 
} 
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

//menu settings
/*
.search .search-results{
  display: none;
}

.search .form-control:focus ~ nav{
  display: block;
}
*/
.modal-backdrop {
  background-color:rgba(0, 0, 0, 0.7);
}
.modal-dialog {
  width: 730px;
  display: inline-block;
  vertical-align: middle;
  @media (max-width: $screen-lg) {
    width: 1460px * $percent-lg;
  }
  @media (max-width: $screen-md) {
    width: 1460px * $percent-md;
  }
  @media (min-width: $screen-lg + 1) {
    width: 1460px;
  }
}
.modal{
    text-align: center;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
#modal-review.modal:before {
    content: " ";
    height: 0;
}
.modalDealreport{
  .modal-content{
    margin: 0;
  }
  .modal-dialog {
    width: 980px;
    //height: 1115px;
    position: relative;
    @media (max-width: $screen-lg) {
        width: 980px * $percent-lg;
      //  height: 1115px * $percent-lg;
    }
    @media (max-width: $screen-md) {
        width: 980px * $percent-md;
      //  height: 1115px * $percent-md;
    }
  }
}

.modalAddDeal{
  .modal-content {
    // margin: 120px 0 0 0 ;
    width: 1218px * $percent-lg;
    height: 610px * $percent-lg;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
  }
  .modal-dialog {
    width: 1700px;
    height: 850px;
    position: relative;
    @media (max-width: $screen-lg) {
      width: 1700px * $percent-lg;
      height: 850px * $percent-lg;
      border-radius: 50px * $percent-lg;
    }
    @media (max-width: $screen-md) {
      width: 1700px * $percent-md;
      height: 850px * $percent-md;
      border-radius: 50px * $percent-md;
    }
  }
}

.modal-content {
  border-radius: 40px;
  @media (min-width: $screen-lg + 1) {
    border-radius: 50px;
  }
}
.form-control{
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.container .form-control:focus{
  border-color: #28a5a6 !important;
}

//explorer
.text-center {
  text-align: center;
}

.promo-1{
  background-image: url(../images/promo-1.jpg) !important;
}
.promo-2{
  background-image: url(../images/promo-2.jpg) !important;
}
.dots{
  background-image: url(../images/dots@2x.png) !important;
}
.no-pp{
  background-image: url(../images/no_pp@2x.png) !important;
}
.user-1{
  background-image: url(../images/user-def.png) !important;
}
.user-2{
  background-image: url(../images/user-2.jpg) !important;
}
.user-3{
  background-image: url(../images/user-3.jpg) !important;
}
.user-4{
  background-image: url(../images/user-4.jpg) !important;
}
.hide{
  display: none;
}
.star-on{
  background-image: url(../images/star-on@2x.png) !important;
}
.form-control::-webkit-input-placeholder { color: #b9bcbd; }
.form-control:-moz-placeholder { color: #b9bcbd; }
.form-control::-moz-placeholder { color: #b9bcbd; }
.form-control:-ms-input-placeholder { color: #b9bcbd; }

.header .form-control::-webkit-input-placeholder { color: rgba(255,255,255,.5); }
.header .form-control:-moz-placeholder { color: rgba(255,255,255,.5); }
.header .form-control::-moz-placeholder { color: rgba(255,255,255,.5); }
.header .form-control:-ms-input-placeholder { color: rgba(255,255,255,.5); }
.btn-facebook{
  background-color: #4a6ea9;
}

.wrap-deal-results{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
}
.wrap-deal-results:before{
    content: '';
    display: block;
    height: 100%;
    width: 18px;
    background: #f3f6f7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.list-reviews{
  .no-rewiews{
    padding: 0;
    margin: 0;
  }
}
.iti-flag
{
  background-color: transparent;
  background-image: url(../images/flags-1.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  box-shadow: none;
  height: 15px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
{
  .iti-flag
  {
    background-image: url(../images/img/flags-1@2x.png);
  }
}
.deals-corousel{
  .carousel-indicators{
    display: none;
  }
}
.alert-input{
  -webkit-transition: background-color .1s ease-out;
  -moz-transition: background-color .1s ease-out;
  -o-transition: background-color .1s ease-out;
  transition: background-color .1s ease-out;
  background-color: red;
}