<div class="container" ng-controller="MainCtrl" ng-show="true">
<section class="profile-page">
  <div class="left-sidebar">
        <div class="header-sidebar clearfix">
            <div class="user-avatar user-3">
            <form name="uploadFrm" novalidate>  
               <div class="form-group upload-file">
                    <label>File</label>
                    <input type="file" name="pic" class="form-control" 
                 placeholder="File">   
                </div>
            </form>
            </div>
            <h1>Laura Schils</h1>
            <span class="user-rating">
                <span class="star star-on"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </span>
            <span class="user-reviews">11 reviews  |  4,7 out of 5</span>
        </div>
        <div class="list-reviews clearfix">
            <ul>
                <li>
                    <span class="user-avatar user-1"></span>
                    <h2>Nathalie P.</h2>
                    <span class="last-online">2h ago</span>
                     <span class="user-rating">
                        <span class="star star-on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                    <p>Perfect deal! Thanks Laura it was awesome to share this deal with you :)</p>
                </li>
                <li>
                    <span class="user-avatar user-1"></span>
                    <h2>Nathalie P.</h2>
                    <span class="last-online">2h ago</span>
                     <span class="user-rating">
                        <span class="star star-on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                </li>
                <li>
                    <span class="user-avatar user-2"></span>
                    <h2>Nathalie P.</h2>
                    <span class="last-online">2h ago</span>
                     <span class="user-rating">
                        <span class="star star-on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                    <p>Perfect deal! Thanks Laura it was awesome to share this deal with you :)</p>
                </li>
                <li>
                    <span class="user-avatar user-1"></span>
                    <h2>Nathalie P.</h2>
                    <span class="last-online">2h ago</span>
                     <span class="user-rating">
                        <span class="star star-on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                    <p></p>
                </li>
                <li>
                    <span class="user-avatar user-2"></span>
                    <h2>Nathalie P.</h2>
                    <span class="last-online">2h ago</span>
                     <span class="user-rating">
                        <span class="star star-on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                    <p></p>
                </li>
                <li>
                    <span class="user-avatar user-1"></span>
                    <h2>Nathalie P.</h2>
                    <span class="last-online">2h ago</span>
                     <span class="user-rating">
                        <span class="star star-on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                    <p>Perfect deal! Thanks Laura it was awesome to share this deal with you :)</p>
                </li>
            </ul>   
        </div>
    </div>
    <div class="content  clearfix">
        <h1>Settings</h1>
        <div class="right-logaut">
            <button type="button" class="btn btn-logout">log out</button>
        </div>
        
        <p>Make sure to set a valid phone number so people could contact you concerning deals you’re interested.
        <div class="enter-phone-form-profile">
            <form name="phoneFrm"  novalidate>  
                <div class="form-group  phone-number-valid">
                    <label>Phone</label>
                      <input type="text" name="phoneCode" class="form-control phone-code" 
                 placeholder="..">
                    <input type="text" name="phoneNumber" class="form-control phone-number" 
                 placeholder="phone">
                    <span class="icon-valid-number icon_check_alt"></span>
                    <button type="submit" class="btn btn-send">SEND</button>     
                </div>
            </form>
        </div>
        <div class="profile-change">
            <form name="settimgsFrm"  novalidate>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="email" class="form-control" 
                 placeholder="Name">     
                </div>
                <div class="form-group">
                    <label>address</label>
                    <input type="text" name="address" class="form-control" 
                 placeholder="Address">     
                </div>  
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" 
                 placeholder="Email">     
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-change">Save changes</button>
                </div>
            </form>
            <a href="" class="terms">Terms &#038; privacy</a>
        </div>

    </div>  
</section>
</div>
