<div class="container-add-deals clearfix">
    <!--button 
    type="button" 
    class="close close-add-deals" 
    ng-click="cancel()"></button-->
    <div class="add-deal-step-one" ng-show="showStepOne">
        <header>
            <h1>
            {{'ADDDEAL'|translate}}
            </h1>
        </header>
        <form name="addDealStepOneFrm" 
            novalidate
            enctype="multipart/form-data" 
            ng-submit="addDealStepOneFrm.$valid && addDealStepOne()">
            <div class="form-group upload-file" >
                <label>File</label>
                <div class="upload" ng-style="dealCss">
                <input type="file" 
                name="image"
                accept="image/*"
                directupload="onFileSelect($files)" > 
                </div>
                <p>{{'ADD_PICTURE_TEXT'|translate}} <a href="">{{'ADD_PICTURE_TEXT1'|translate}}</a></p>
            </div>
            <!-- Brand name input -->  
            <div 
                class="form-group"
                ng-class="{true: 'error'}[addDealStepOneFrm.$submitted && addDealStepOneFrm.brand.$invalid]">
                <label>Brand name</label>
                <span class="deal-icon bags-on"></span>
                  <input 
                    type="text" 
                    name="brand" 
                    class="form-control"
                    placeholder="{{'BRAND'|translate}}"
                    ng-model="addDeal.brand"
                    ng-required="true"
                    >
                <div
                class="help-block" 
                ng-show="addDealStepOneFrm.$submitted || addDealStepOneFrm.brand.$touched"
                role="alert"
                style="color:maroon" >
                    <div ng-show="addDealStepOneFrm.brand.$error.required"> 
                        {{'ERR_BRAND_REQUIRED'|translate}}
                    </div>
                </div>
            </div>
            <!-- End brand name input --> 

            <!-- Location input -->
            <div class="form-group"
            ng-class="{true: 'error'}[addDealStepOneFrm.$submitted && addDealStepOneFrm.address.$invalid]" >
                <label>Location</label>
                <span class="deal-icon maps-off"></span>
                <input 
                    type="text" 
                    name="address" 
                    class="form-control" 
                    placeholder="{{'ADDRESS'|translate}}"
                    ng-model="resultaddress"
                    ng-change="dataChanged()"
                    uib-typeahead="address.formatted_address for address in getLocation($viewValue)" 
                    typeahead-loading="loadingLocations" 
                    typeahead-no-results="noResults"
                    typeahead-on-select="selectedAddress($item.formatted_address, $item.geometry)"
                    typeahead-min-length="10"
                    ng-required="true" >
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div
                class="help-block" 
                ng-show="addDealStepOneFrm.$submitted || addDealStepOneFrm.address.$touched"
                role="alert"
                style="color:maroon" >
                    <div ng-show="noResults">
                        {{'ERR_ADDRESS_NOT_FOUND'|translate}}
                    </div>
                    <div ng-show="addDealStepOneFrm.address.$error.required">
                        {{'ERR_ADDRESS_REQUIRED'|translate}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div 
                class="help-block" 
                ng-show="selectedItem">
                    <a 
                    ng-style="{'position':'relative','padding':'15px 25px'}"
                    href="{{locationUrl}}"
                    target="__blank">{{addressItem}}</a>
                </div>
            </div>

            <div class="form-group">
                <input 
                type="hidden" 
                name="longitude" 
                value=""
                ng-model="lng">
                <input 
                type="hidden" 
                name="latitude" 
                value=""
                ng-model="lat">
            </div>
            <!-- End Location input -->
            <div class="form-group-buttom">
                <button type="submit" class="btn btn-add-deal" >{{'NEXT_BTN'|translate}}</button>
            </div>
        </form>
    </div>
    <div class="add-deal-step-two " ng-show="showStepTwo">
        <header>
            <h1>
            {{'ADDDEAL'|translate}}
            </h1>
        </header>
        <form name="addDealStepTwoFrm"  
            novalidate 
            enctype="multipart/form-data"
            ng-submit="addDealStepTwoFrm.$valid && addDealStepTwo()">
            <!-- Participant input -->
                <div class="form-group"
                    ng-class="{true: 'error'}[addDealStepTwoFrm.$submitted && addDealStepTwoFrm.nb_required_cust.$invalid]">
                    <label>Require Customer</label>
                    <span class="deal-icon participant-on"></span>
                    <span class="icon-arrow arrow_carrot-down"></span>  
                    <select
                        ng-init="addDeal.nb_required_cust = options[0]"  
                        name="nb_required_cust"       
                        class="form-control" 
                        ng-model="addDeal.nb_required_cust"
                        ng-required="true" >
                        <option ng-repeat="option in customerData" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <!--select 
                            ng-model="addDeal.nb_required_cust" 
                            ng-init="addDeal.nb_required_cust = addDeal.nb_required_cust || customerData[0].id"
                            name="nb_required_cust"   
                            class="form-control" 
                            ng-options="option.id as option.name for option in customerData">
                    </select-->
                </div>
                <div class="help-block" 
                    ng-show="addDealStepTwoFrm.$submitted || addDealStepTwoFrm.nb_required_cust.$touched"
                    role="alert"
                    style="color:maroon; margin-bottom:0; margin-top:0" >
                    <div ng-show="addDealStepTwoFrm.nb_required_cust.$error.required" >
                        {{'ERR_CUSTOMER_REQUIRED'|translate}}
                    </div>
                    <div ng-show="addDealStepTwoFrm.nb_required_cust.$error.min">
                        Customer are greater or equal by 1
                    </div>
                </div>
                <!-- End Participant -->

                <!-- Description Input -->
                <div class="form-group"
                    ng-class="{true: 'error'}[addDealStepTwoFrm.$submitted && addDealStepTwoFrm.description.$invalid]">
                    <label>Description</label>
                    <span class="deal-icon description-on"></span>
                      <input 
                        type="text" 
                        name="description" 
                        class="form-control" 
                        placeholder="Description"
                        ng-model="addDeal.description"
                        ng-required="true" > 
                    <div
                        class="help-block" 
                        ng-show="addDealStepTwoFrm.$submitted || addDealStepTwoFrm.description.$touched"
                        role="alert"
                        style="color:maroon; margin-bottom:0; margin-top:0" >
                        <div ng-show="addDealStepTwoFrm.description.$error.required" >
                            {{'ERR_DESCRIPTION_REQUIRED'|translate}}
                        </div>
                    </div>  
                </div>
                <!-- End Description input -->

                <!-- Other Input -->
                <!-- <div class="form-group">
                    <label>{{'OTHER_LABEL'|translate}}</label>
                      <input 
                        type="text" 
                        name="other" 
                        class="form-control" 
                        placeholder="{{'OTHER_OPTIONAL'|translate}}"
                        ng-model="addDeal.other" >   
                </div> -->
                <!-- End Other Input -->
                <!-- Write some directive here -->
                <div class="form-group-buttom">
                    <a class="btn btn-add-deal"
                    ng-click="backStepOne()" >{{'BACK_BTN'|translate}}</a>
                    <button type="submit" class="btn btn-add-deal" >{{'NEXT_BTN'|translate}}</button>
                </div>
        </form>
    </div>
    <div class="add-deal-step-three" ng-show="showStepThree">
        <header>
            <h1>
            {{'ADDDEAL'|translate}}
            </h1>
        </header>
        <form name="addDealStepThreeFrm" novalidate enctype="multipart/form-data" ng-submit="addDealStepThreeFrm.$valid && addDealSubmit()">
                <div class="form-group"
                ng-class="{true: 'error'}[addDealStepThreeFrm.$submitted && addDealStepThreeFrm.category.$invalid]">
                    <label>Choose a category</label>
                    <span class="deal-icon category-off"></span>
                     <span class="icon-arrow arrow_carrot-down"></span>  
                    <!-- ng-options="item as item.label for item in categoryData track by item.id_category" -->
                    <select 
                        class="form-control" 
                        ng-model="addDeal.category"
                        name="category"
                        ng-required="true" >
                        <option value="">--{{'OPTION_CATEGORY'|translate}}--</option>
                        <option
                        ng-repeat="cate in categoryData" value="{{cate.id}}" >{{cate.label|translate}}
                        </option>
                    </select>
                    <div class="help-block"
                    ng-show="addDealStepThreeFrm.$submitted || addDealStepThreeFrm.category.$touched"
                    role="alert"
                    style="color:maroon; margin-bottom:0; margin-top:0;">
                        <div ng-show="addDealStepThreeFrm.category.$error.required">
                            {{'ERR_CATEGORY_REQUIRED'|translate}}
                        </div>
                    </div>
                </div>

                <div class="form-group" 
                    ng-class="{true: 'error'}[addDealStepThreeFrm.$submitted && addDealStepThreeFrm.date.$invalid]" >
                    <label>End Date</label>
                    <span class="deal-icon date-on"></span>
                    <input 
                        type="date" 
                        name="date" 
                        class="form-control" 
                        placeholder=""
                        ng-required="true"
                        ng-model="addDeal.end_date"
                        is-open="status.opened" 
                        min-date="minDate" 
                        max-date="maxDate" 
                        datepicker-options="dateOptions"
                        date-disabled="disabled(date, mode)"
                        uib-datepicker-popup="MM/dd/yyyy"
                        close-text="Close" 
                        ng-click="open($event)">
                </div>
                <div class="help-block" 
                    ng-show="addDealStepThreeFrm.$submitted || addDealStepThreeFrm.date.$touched"
                    role="alert"
                    style="color:maroon; margin-bottom:0; margin-top:0;">
                    <div ng-show="addDealStepThreeFrm.date.$error.required" >
                        {{'ERR_END_DATE'|translate}}
                    </div>
                </div>

                <div class="form-group"
                ng-class="{true: 'error'}[addDealStepThreeFrm.$submitted && addDealStepThreeFrm.promotion.$invalid]">
                    <label>Promotion</label>
                    <span class="deal-icon reduction-on"></span>
                    <input type="text" 
                        name="promotion" 
                        class="form-control" 
                        placeholder="Promotion"
                        ng-required = "true"
                        directfilternumber
                        modelvalue="addDeal.promo"
                        ng-model="addDeal.promo" >   
                    <div
                        class="help-block" 
                        ng-show="addDealStepThreeFrm.$submitted || addDealStepThreeFrm.promotion.$touched"
                        role="alert"
                        style="color:maroon; margin-bottom:0; margin-top:0;" >
                        <div ng-show="addDealStepThreeFrm.promotion.$error.required">
                            Promotion is required
                        </div>
                    </div>
                </div>

                <div class="form-group-buttom">
                    <a class="btn btn-add-deal" ng-click="backStepTwo()">{{'BACK_BTN'|translate}}</a>
                    <button type="submit" class="btn btn-add-deal" >{{'ADDTHEDEAL'|translate}}!</button>
                </div>
        </form>
    </div>
</div>
<br>