<div class="deal-report" ng-mouseover="initScroll()">
    <button 
    type="button" 
    class="close close-view-report" 
    ng-click="cancel()"></button>
	<div class="header-deal-report clearfix" data-ng-init="perortUser = false">
     	<div class="report-step-one" ng-class="{'hide':perortUser}">
     		<span
            ng-show="userReport.customerStatus == 0 || userReport.customerStatus == 1"
            class="report-user" 
            ng-click="perortUser = !perortUser">{{'REPORT_TEXT'|translate}}
            </span>
     		<div class="user-avatar"
            ng-class="{'no-pp': userReport.url_img == ''}"
            ng-style="{ 'background-image':'url({{userReport.url_img}})'}" >
            </div>
            <h1 ng-style="{'text-align': 'left'}">{{userReport.firstName}}</h1>
            <span class="user-rating">
                <div starrating rating-value="userReport.mark" max="ratings.max"></div>
            </span>
            <span class="user-reviews">{{countReviews}} {{'REVIEWS'|translate}}  |  {{userReport.mark}} {{'OUTOF'|translate}} {{ratings.max}}</span>
     	</div>
     	<div class="report-step-two" ng-class="{'hide': !perortUser}">
    			<span>
                    <p ng-if="!error_msg" translate="REPORT_CONFIRM" translate-values="{ first_name: userReport.firstName }"></p>
                    <p ng-if="error_msg"
                    style="color:maroon"
                    role="alert" >{{'ERR_HAS_REPORT'|translate}}</p>
                </span>
				<button 
                type="button" 
                class="btn-report" 
                ng-click="perortUser = !perortUser">Cancel</button>
		  		<button 
                type="button" 
                class="btn-report"
                ng-show="!isReportFail" 
                ng-click="reportUser()">Yes</button>
     	</div>
    </div>
    <div class="list-reviews clearfix" >
        <ul class="scrolllist" ng-scrollbar rebuild-on="rebuild:listreport">
            <li ng-repeat="listReview in listReviews">
                <span 
                class="user-avatar user-online"
                ng-style="{ 'background-image':'url({{listReview.user_url_image}})'}"
                ></span>
                <h2 ng-style="{'text-align': 'left'}">{{listReview.user_first_name}}</h2>
                <span class="last-online">2h ago</span>
                <span class="user-rating">
                    <div starrating rating-value="listReview.mark" max="ratings.max"></div>
                </span>
                <p>{{listReview.comments}}</p>
            </li>
            <li ng-hide="listReviews.length" class="no-rewiews">{{'NO_REVIEWS'|translate}}</li>
        </ul>   
    </div>
</div>