	<div class="container">
		<section class="my-deals-page">
			<div class="deals-header clearfix">
				<span>{{'DEALS'|translate}}</span>
				<ul>
					<span class="my-archived" ng-click="getArchivedDeal()">{{'ARCHIVED'|translate}} ({{countArchivedDeal}})</span>
					<li directdealfilter class="active" ng-click="getAllDeal()"><span>All ({{countAll}})</span></li>
					<li directdealfilter ng-click="getPendingDeal()"><span>{{'PENDING'|translate}} ({{countPendingDeal}})</span></li>
					<li directdealfilter ng-click="getConfirmDeal()"><span>{{'CONFIRMATION'|translate}} ({{countConfirmDeal}})</span></li>
					<li directdealfilter ng-click="getProgressDeal()"><span>{{'INPROGRESS'|translate}} ({{countInProgressDeal}})</span></li>
					<li directdealfilter ng-click="getEndedDeal()"><span>{{'ENDED'|translate}} ({{countDealEnd}})</span></li>
				</ul>
			</div>
			<div class="my-deal-content clearfix">
				<div class="my-deal" ng-repeat="myDeal in myDeals">
					<div 
					class="view-store" ng-style="{ 'background-image':'url({{storeImageUrl + myDeal.deal.urlImage}})'}">
						<div class="up-to up-to-circle" ng-if="myDeal.deal.promo">UP TO {{myDeal.deal.promo}}%</div>
					</div>
					<!-- Pending Phase -->
					<div class="deal-members" ng-if="myDeal.is_pending">
						<h1>{{myDeal.deal.brand}}</h1>
						<div class="deal-date-end" ng-if="myDeal.end_date > 0">
							<timer 
							countdown="myDeal.end_date" 
							interval="1000"
							finish-callback="callbackDealExpire(myDeal.idDeal)"
							>{{'EXPIREIN'|translate}} {{ddays}} day{{dayS}} {{hhours}} hour{{hoursS}} </timer>
						</div>
						<div class="deal-date-end" ng-if="myDeal.end_date < 0">
							<timer>{{'DEALEXPIRED'|translate}}</timer>
						</div>
						<div class="event-button">
							<button type="button" class="btn">
								<span class="refresh icon_refresh"></span>{{'SEARCHING'|translate}}...
							</button>
							<button type="button" class="btn btn-default" ng-click="leaveDeal(myDeal.idDeal)" ng-disabled="myDeal.end_date < 0">{{'LEAVEDEAL'|translate}}</button>
							<div class="phase">
								<h2>{{'PHASE1'|translate}}</h2>
								<p>{{'PHASE1_PARAGRAPH'|translate}}..</p>
								<div class="icon-phase"></div>
							</div>
						</div>

						<div class="list-member">
							<div class="member-size">{{'LISTPARTICIPANT'|translate}} ({{myDeal.totalPartners}}/{{myDeal.deal.nbRequiredCust}})</div>
							<ul>
								<li>
								<span class="member-user"
								ng-style="{ 'background-image':'url({{urlAvatar}})'}"
								ng-click="openDealreportModal($global.user, myDeal.idDeal)"></span>
								<span class="desc-member">
									<span class="member-name">{{$global.user.firstName}} </span>
									<span class="member-rating">
										<div starrating rating-value="$global.user.mark" max="ratings.max"></div>
									</span>
								</span>
								</li>
								<li ng-repeat="partner in myDeal.partners">
								<span class="member-user"
								ng-class="{'no-pp': partner.users.avatar == ''}"
								ng-click="openDealreportModal(partner, myDeal.idDeal)"
								ng-style="{ 'background-image':'url({{partner.users.avatar}})'}"></span>
								<span class="desc-member">
									<span class="member-name">{{partner.users.firstName}}</span>
									<span class="member-rating">
										<div starrating rating-value="partner.users.mark" max="ratings.max"></div>
									</span>
								</span>
								</li>
								<li>
								<span class="member-user dots"></span>
								<span class="desc-member">
									<span class="member-name">{{'SEARCHING'|translate}}</span>
									<span class="member-rating">
										<div starrating rating-value="0" max="ratings.max"></div>
									</span>
								</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Pending -->
					
					<!-- Confirmation Phase -->
					<div class="deal-members" ng-if="myDeal.is_confirmation">
						<h1>{{myDeal.deal.brand}}</h1>
						<div class="deal-date-end" ng-if="myDeal.end_date > 0">
							<timer 
							countdown="myDeal.end_date" 
							interval="1000"
							finish-callback="callbackDealExpire(myDeal.idDeal)" >{{'DEALENDIN'|translate}} {{ddays}} day{{dayS}} {{hhours}} hour{{hoursS}}</timer>
						</div>
						<div class="deal-date-end" ng-if="myDeal.end_date < 0">
							<timer>{{'DEALEXPIRED'|translate}}</timer>
						</div>
						<div class="event-button">
							<button type="button" class="btn btn-confirmation" ng-click="validDeal(myDeal.idDeal)" ng-disabled="myDeal.customerStatus == 1 || customerStatus == 1 || myDeal.end_date < 0">{{'PARTICIPATE'|translate}}</button>
							<button type="button" class="btn btn-default" ng-click="leaveDeal(myDeal.idDeal)" ng-disabled="myDeal.end_date < 0">{{'LEAVEDEAL'|translate}}</button>
							<div class="phase">
								<h2>{{'PHASE2'|translate}}</h2>
								<p>{{'PHASE2_PARAGRAPH'|translate}}</p>
								<div class="icon-phase"></div>
							</div>
						</div>
						<div class="list-member">
							<div class="member-size">{{'LISTPARTICIPANT'|translate}} ({{myDeal.totalPartners}}/{{myDeal.deal.nbRequiredCust}})</div>
							<ul>
								<li>
								<span ng-if="myDeal.customerStatus == 0 " 
								class="member-user split-waiting"
								ng-style="{ 'background-image':'url({{urlAvatar}})'}"
								ng-class="{'no-pp': urlAvatar == ''}"
								ng-click="openDealreportModal($global.user, myDeal.idDeal)"></span>
								<span ng-if="myDeal.customerStatus == 1 " 
								class="member-user split-participating"
								ng-style="{ 'background-image':'url({{urlAvatar}})'}"
								ng-class="{'no-pp': urlAvatar == ''}"
								ng-click="openDealreportModal($global.user, myDeal.idDeal)"></span>
								<span class="desc-member">
									<span class="member-name">{{$global.user.firstName}} </span>
									<span class="member-rating">
										<div starrating rating-value="$global.user.mark" max="ratings.max"></div>
									</span>
									<span ng-if="myDeal.customerStatus == 0" class="waiting" >waiting</span>
									<span ng-if="myDeal.customerStatus == 1" class="participating">Is participating</span>
								</span>
								</li>
								<li ng-repeat="partner in myDeal.partners">
								<span 
								ng-if="!partner.customerStatus" 
								class="member-user split-waiting"
								ng-click="openDealreportModal(partner, myDeal.idDeal)"
								ng-class="{'no-pp': partner.users.avatar == ''}"
								ng-style="{ 'background-image':'url({{partner.users.avatar}})'}"></span>
								<span 
								ng-if="partner.customerStatus" 
								class="member-user split-participating"
								ng-click="openDealreportModal(partner, myDeal.idDeal)"
								ng-class="{'no-pp': partner.users.avatar == ''}"
								ng-style="{ 'background-image':'url({{partner.users.avatar}})'}"></span>
								<span class="desc-member">
									<span class="member-name">{{partner.users.firstName}}</span>
									<span class="member-rating">
										<div starrating rating-value="partner.users.mark" max="ratings.max"></div>
									</span>
									<span ng-if="partner.customerStatus == 0" class="waiting" >waiting</span>
									<span ng-if="partner.customerStatus == 1" class="participating">Is participating</span>
								</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Confirmation -->
					
					<!-- In Progress Phase -->
					<div class="deal-members" ng-if="myDeal.is_inProgress">
						<h1>{{myDeal.deal.brand}}</h1>
						<div class="deal-date-end" ng-if="myDeal.end_date > 0">
							<timer 
							countdown="myDeal.end_date" 
							interval="1000"
							finish-callback="callbackDealExpire(myDeal.idDeal)"
							>{{'DEALENDIN'|translate}} {{ddays}} day{{dayS}} {{hhours}} hour{{hoursS}} </timer>
						</div>
						<div class="deal-date-end" ng-if="myDeal.end_date < 0">
							<timer>{{'DEALEXPIRED'|translate}}</timer>
						</div>
						<div class="event-button">
							<button type="button" class="btn">{{'DEALCONFIRM'|translate}}</button>
							<button 
							type="button" 
							class="btn btn-default" 
							ng-click="dealConclude(myDeal.idDeal)"
							ng-show="myDeal.hasConcluded == 0" 
							ng-disabled="myDeal.end_date < 0" >{{'DEALCONCLUDE'|translate}}</button>
							<div class="phase">
								<h2>{{'PHASE3'|translate}}</h2>
								<p ng-show="myDeal.hasConcluded == 0">{{'PHASE3_PARAGRAPH'|translate}}</p>
								<p ng-show="myDeal.hasConcluded == 1">{{'PHASE3_PARAGRAPH_1'|translate}} <b ng-repeat="partner_info in myDeal.partners">{{ partner_info.users.firstName }}. </b>
								</p>
								<div class="icon-phase"></div>
							</div>
						</div>
						<div class="list-member">
							<div class="member-size">{{'LISTPARTICIPANT'|translate}} ({{myDeal.totalPartners}}/{{myDeal.deal.nbRequiredCust}})</div>
							<ul>
								<li>
								<span 
								class="member-user split-call"
								ng-style="{ 'background-image':'url({{urlAvatar}})'}"
								ng-click="openDealreportModal($global.user, myDeal.idDeal)"></span>
								<span class="desc-member">
									<span class="member-name">{{$global.user.firstName}}</span>
									<span class="member-rating">
										<div starrating rating-value="$global.user.mark" max="ratings.max"></div>
									</span>	
									<span class="phone-number">{{ $global.user.mobilePhone | phoneformat }}</span>
								</span>
								</li>
								<li ng-repeat="partner in myDeal.partners">
								<span 
								class="member-user split-call"
								ng-click="openDealreportModal(partner, myDeal.idDeal)"
								ng-class="{'no-pp': partner.users.avatar == ''}"
								ng-style="{ 'background-image':'url({{partner.users.avatar}})'}" ></span>
								<span class="desc-member">
									<span class="member-name">{{partner.users.firstName}} </span>
									<span class="member-rating">
										<div starrating rating-value="partner.users.mark" max="ratings.max"></div>
									</span>	
									<span class="phone-number">{{ partner.users.mobilePhone | phoneformat }}</span>
								</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- End In progress -->
					
					<!-- Ended Phase -->
					<div class="deal-members" ng-if="myDeal.is_ended">
						<h1>{{myDeal.deal.brand}}</h1>
						<div class="deal-date-end" ng-if="myDeal.end_date > 0">
							<timer 
							countdown="myDeal.end_date" 
							interval="1000"
							finish-callback="callbackDealExpire(myDeal.idDeal)"
							>{{'DEALENDIN'|translate}} {{ddays}} day{{dayS}} {{hhours}} hour{{hoursS}} </timer>
						</div>
						<div class="deal-date-end" ng-if="myDeal.end_date < 0">
							<timer>{{'DEALEXPIRED'|translate}}</timer>
						</div>
						<div class="event-button">
							<button type="button" class="btn btn-active" ng-click="archiveDeal(myDeal.idDeal)" ng-disabled="myDeal.end_date < 0">{{'ARCHIVED'|translate}}</button>
							<div class="phase">
								<h2>{{'PHASE4'|translate}}</h2>
								<p>{{'PHASE4_PARAGRAPH'|translate}}</p>
								<div class="icon-phase"></div>
							</div>
						</div>
						<div class="list-member">
							<div class="member-size">{{'LISTPARTICIPANT'|translate}} ({{myDeal.totalPartners}}/{{myDeal.deal.nbRequiredCust}})</div>
							<ul>
								<li>
									<span 
									class="member-user"
									ng-style="{ 'background-image':'url({{urlAvatar}})'}"
									ng-click="openDealreportModal($global.user, myDeal.idDeal)"></span>
									<span class="desc-member">
										<span class="member-name">{{$global.user.firstName}} </span>
										<span class="member-rating">
											<div starrating rating-value="$global.user.mark" max="ratings.max"></div>
										</span>
									</span>
								</li>

								<li ng-repeat="partner in myDeal.partners">
									<span 
									class="member-user split-reviewed"
									ng-click="openDealreportModal(partner, myDeal.idDeal)"
									ng-if="partner.comments.length > 0"
									ng-class="{'no-pp': partner.users.avatar == ''}"
									ng-style="{ 'background-image':'url({{partner.users.avatar}})'}" ></span>
									<span 
									class="member-user split-review"
									ng-click="openDealreportModal(partner, myDeal.idDeal)"
									ng-if="partner.comments.length < 1"
									ng-class="{'no-pp': partner.users.avatar == ''}"
									ng-style="{ 'background-image':'url({{partner.users.avatar}})'}" ></span>
									<span class="desc-member">
										<span class="member-name">{{partner.users.firstName}} </span>
										<span class="member-rating">
											<div starrating rating-value="partner.users.mark" max="ratings.max"></div>
										</span>	
										<span 
										class="review" 
										data-toggle="modal" 
										data-target="#modal-review" 
										data-ng-click="modalReview(partner, myDeal.deal.brand, myDeal.idDeal)"
										ng-show="partner.comments.length < 1"
										>{{'REVIEW_TEXT'|translate}}</span>
										<span 
										class="reviewed"
										ng-show="partner.comments.length > 0"
										>{{'REVIEWED_TEXT'|translate}} {{partner.comments[0].mark}}/5</span>
									</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Ended -->

					<!-- Archived Phase -->
					<div class="deal-members" ng-if="myDeal.is_archived">
						<h1>{{myDeal.deal.brand}}</h1>
						<div class="deal-date-end">
							<timer>{{'DEALENDED'|translate}}</timer>
						</div>
						<div class="event-button">
							<button type="button" ng-disabled="myDeal.archived" class="btn">{{'ARCHIVED'|translate}}</button>
							<div class="phase">
								<!-- <h2>{{'PHASE4'|translate}}</h2> -->
								<p>The deal has archived.</p>
								<div class="icon-phase"></div>
							</div>
						</div>
						<div class="list-member">
							<div class="member-size">List of participants ({{myDeal.totalPartners}}/{{myDeal.deal.nbRequiredCust}})</div>
							<ul>
								<li>
									<span 
									class="member-user"
									ng-style="{ 'background-image':'url({{urlAvatar}})'}"
									ng-click="openDealreportModal($global.user, myDeal.idDeal)"></span>
									<span class="desc-member">
										<span class="member-name">{{$global.user.firstName}} </span>
										<span class="member-rating">
											<div starrating rating-value="$global.user.mark" max="ratings.max"></div>
										</span>
									</span>
								</li>
								<li ng-repeat="partner in myDeal.partners">
									<span class="member-user split-reviewed"
										ng-click="openDealreportModal(partner, myDeal.idDeal)"
										ng-if="partner.hasReviewed == 1"
										ng-class="{'no-pp': partner.users.avatar == ''}"
										ng-style="{ 'background-image':'url({{partner.users.avatar}})'}" >
									</span>
									<span class="member-user split-review"
										ng-click="openDealreportModal(partner, myDeal.idDeal)"
										ng-if="partner.hasReviewed == 0"
										ng-class="{'no-pp': partner.users.avatar == ''}"
										ng-style="{ 'background-image':'url({{partner.users.avatar}})'}" >
									</span>
									<span class="desc-member">
										<span class="member-name">{{partner.users.firstName}} </span>
										<span class="member-rating">
											<div starrating rating-value="partner.users.mark" max="ratings.max"></div>
										</span>	
										<!-- <span class="review" 
											data-toggle="modal" 
											data-target="#modal-review" 
											data-ng-click="modalReview(partner, myDeal.brand, myDeal.id_deal)"
											ng-show="partner.has_reviewed == 0" >
											Leave a rewiew
										</span>
										<span class="reviewed"
											ng-show="partner.has_reviewed == 1" >You reviewed {{partner.lastest_rating_point}}/{{ratings.max}}
										</span> -->
									</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Archived -->
				</div>
				<!-- If no deal -->
				<div ng-if="isEmpty" class="my-deal"  data-toggle="modal"  data-target="#modal-nodeals" data-ng-click="$rootScope.modalReview = true">
					<div class="view-store">
						<div class="up-to up-to-circle">UP TO _%</div>
					</div>
					<div class="deal-members">
						<h1>___________</h1>
						<div class="deal-date-end">____________</div>
						<div class="event-button">
							<button type="button" class="btn btn-active review"></button>
							<div class="phase">
								<h2></h2>
								<p></p>
								<div class=""></div>
							</div>
						</div>
						<div class="list-member">
							<div class="member-size"></div>
							<ul>
								<li>
								<span class="member-user"></span>
								<span class="desc-member">
									<span class="member-name">________</span>
									<span class="member-rating">
										<span class="star"></span>
										<span class="star"></span>
										<span class="star"></span>
										<span class="star"></span>
										<span class="star"></span>
									</span>
								</span>
								</li>
								<li>
								<span class="member-user"></span>
								<span class="desc-member">
									<span class="member-name">__________</span>
									<span class="member-rating">
										<span class="star star-on"></span>
										<span class="star"></span>
										<span class="star"></span>
										<span class="star"></span>
										<span class="star"></span>
									</span>
									<span class="reviewed">You reviewed 5/5</span>
								</span>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<!-- End no deal -->
				
			</div>
		</section>
	</div>

<!-- Modal -->
<!-- Review Modal -->
<div class="modal fade" id="modal-review" tabindex="-1" role="dialog" aria-labelledby="ModalReview" ng-click="closeModalReview()">
	<div class="deals-leave-review"  >
		<button type="button" class="close close-view" data-dismiss="modal" aria-label="Close" ng-click="closeModalReview()"><span aria-hidden="true"></span></button>
		<div class="wrap-review" ng-click="$event.stopPropagation()">
			<h1>{{reviews.users.firstName}}</h1>
			<h2>{{reviews.brand}}</h2>
			<div 
			class="user-avatar" 
			style="background-image:url('{{reviews.users.avatar}}')"
			ng-class="{'no-pp': reviews.users.avatar == ''}"></div>
			<form name="leaveReviewFrm" novalidate ng-submit="leaveReviewFrm.$valid && reviewUser(reviews.users.id, reviews.id_deal, reviews.idSDeal)" >
				<div class="form-group">
					<div class="star-rating">
				      	<div class="star-rating__wrap">
					        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" ng-model="review.rating" value="5" >
					        <label class="star-rating__ico icon_star_alt" for="star-rating-5" title="5 out of 5 stars"></label>
					        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" ng-model="review.rating" value="4">
					        <label class="star-rating__ico icon_star_alt" for="star-rating-4" title="4 out of 5 stars"></label>
					        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" ng-model="review.rating" value="3">
					        <label class="star-rating__ico icon_star_alt" for="star-rating-3" title="3 out of 5 stars"></label>
					        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" ng-model="review.rating" value="2">
					        <label class="star-rating__ico icon_star_alt" for="star-rating-2" title="2 out of 5 stars"></label>
					        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" ng-model="review.rating" value="1" ng-checked="true">
					        <label class="star-rating__ico icon_star_alt" for="star-rating-1" title="1 out of 5 stars"></label>
				      	</div>
				    </div>
				</div>
				<div 
				class="form-group"
				ng-class="{true: 'error'}[leaveReviewFrm.$submitted && leaveReviewFrm.comment.$invalid]" >
			  		<label for="comment">{{'COMMENT'|translate}}:</label>
			  		<textarea 
				  	class="form-control" 
				  	placeholder="{{'COMMENT_OPTIONAL'|translate}}"
				  	name="comment"
				  	ng-required="true"
				  	ng-model="review.comment"></textarea>
				  	<div
                    class="help-block" 
                    ng-show="leaveReviewFrm.$submitted || leaveReviewFrm.comment.$touched"
                    role="alert"
                    style="color:maroon">
                        <div ng-show="leaveReviewFrm.comment.$error.required">
                        	{{'ERR_REVIEW_MESSAGE'|translate}}
                    	</div>
                    </div>
				</div>
		        <div class="form-group">
	             	<button type="submit" class="btn review-send">{{'SEND_BTN'|translate}}</button>
		        </div>
			</form>
		</div>
	</div>
</div>
<!-- End Review Modal -->
	
<!-- No Deal Modal -->
<!-- <div class="modal fade" id="modal-nodeals" tabindex="-1" role="dialog" aria-labelledby="ModalNoDeals">
	<div class="deal-no">
  		<button type="button" class="btn btn-exploretodeals" data-dismiss="modal" aria-label="Close" ng-click="goExplore()"><span aria-hidden="true">Explore to find deals</span></button>
	</div>
</div> -->
<!-- End No Deal Modal -->
<!-- End Modal -->