<div class="forgot-password-first-step clearfix">
    <header>
        <h1>
        {{'FORGOT_HEAD'|translate}}
        </h1>
        <p>{{'FORGOT_PARAGRAPH'|translate}}</p>
    </header>
    <form name="forgotPassFrm" 
        class="form-description" 
        novalidate
        ng-submit="forgotPassFrm.$valid && sendForgotPassFrm()" >  
        <div class="form-group" ng-class="{true: 'error'}[forgotPassFrm.$submitted && forgotPassFrm.email.$invalid]" >
            <label>Email</label>
            <input type="email" 
                name="email" 
                class="form-control" 
                ng-model="forgot.email"
                placeholder="Email"
                ng-required="true"
                ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" >    
            <div class="help-block" 
                ng-show="forgotPassFrm.$submitted || forgotPassFrm.email.$touched"
                role="alert"
                style="color:maroon" >
                <div ng-show="forgotPassFrm.email.$error.required">
                    {{'ERR_EMAIL_REQUIRED'|translate}}
                </div>
                <div ng-show="forgotPassFrm.email.$error.pattern">
                    {{'ERR_EMAIL_FORMAT'|translate}}
                </div>
                <div ng-show="error_msg">{{error_msg}}</div>
            </div> 
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-event">{{'INSTRUCTIONS_BTN'|translate}}</button>
        </div>
    </form>
</div>