<div class="login-form clearfix">
    <div class="modal-header">
        <div>
            <span class="logo"></span>
        </div>
        <h1>
        {{ 'LOGIN_SLOGAN' | translate}}
        </h1>
        <span class="cancel-button" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <div >
           <button type="button" class="btn btn-sing-up" ng-click="signUp()">{{ 'SIGNUP' | translate}}</button>
           <p>{{ 'SUBCRIBE_TEXT' | translate}}</p>
            <button type="button" class="btn btn-social btn-b" ng-click="fbConnect()">Facebook connect</button>
            <span class="terms-use">{{ 'SUBCRIBE_TEXT_TERM_USE' | translate }} <a href="#/term" target="_blank">{{ 'TERM_OF_USE' | translate}}</a></span>
        </div>
        <div >
            <div class="or">Or</div>
                <!-- firstname field -->
                <form name="loginFrm" novalidate ng-submit="loginFrm.$valid && loginSubmit()">
                    <div class="form-group form-description"
                    ng-class="{true: 'error'}[loginFrm.$submitted && loginFrm.email.$invalid]">
                        <label>Email</label>
                        <input 
                        type="text" 
                        name="email" 
                        class="form-control" 
                        ng-model="login.email" 
                        placeholder="Email"
                        ng-required="true"
                        ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                        
                        <!-- ngMessages goes here -->
                        <div class="help-block"
                        ng-show="loginFrm.$submitted || loginFrm.email.$touched"
                        role="alert"
                        style="color:maroon; margin-bottom:0; margin-top:0">
                            <div ng-show="loginFrm.email.$error.required">
                                {{'ERR_EMAIL_REQUIRED'|translate}}
                            </div>
                            <div ng-show="loginFrm.email.$error.pattern">
                                {{'ERR_EMAIL_FORMAT' | translate}}
                            </div>
                        </div>
                    </div>

                    <!-- firstname field -->
                    <div class="form-group form-description"
                    ng-class="{true: 'error'}[loginFrm.$submitted && loginFrm.password.$invalid]">
                        <label>{{ 'PASSWORD' | translate}}</label>
                        <input 
                        type="password" 
                        name="password" 
                        class="form-control" 
                        ng-model="login.password" 
                        placeholder="{{ 'PASSWORD' |translate }}"
                        ng-required="true">
                            <a ng-click="forgotPassword()" class="btn-forgote">{{ 'FORGOT' | translate}}</a>
                        <!-- ngMessages goes here -->
                        <div class="help-block"
                        ng-show="loginFrm.$submitted || loginFrm.password.$touched"
                        role="alert"
                        style="color:maroon; margin-bottom:0; margin-top:0">
                            <div ng-show="loginFrm.password.$error.required">
                                {{'ERR_PASSWORD_REQUIRED'|translate}}
                            </div>
                            <div ng-show="error_msg">{{error_msg}}</div>
                        </div>
                    </div>
                    
                    <div class="form-group-submit">
                        <button type="submit" class="btn-sing">
                            {{ 'SIGNIN' | translate }}
                        </button>
                    </div>
                </form>
        </div>
    </div>
</div>