<div class="forgot-password-second-step clearfix">
    <header>
        <h1>
        {{'RESET_PASSWORD_H1'|translate}}
        </h1>
        <p translate="RESET_PASSWORD_TEXT" translate-values="{ email: email }"></p>
    </header>
    <form 
        name="resetPasswordFrm" 
        class="form-description"
        novalidate
        ng-submit="resetPasswordFrm.$valid && sendResetPassword()" >  
        <div 
            class="form-group"
            ng-class="{true: 'error'}[resetPasswordFrm.$submitted && resetPasswordFrm.password.$invalid]" >
            <label>Password</label>
            <input 
                type="password"
                name="password" 
                class="form-control" 
                placeholder="{{'PASSWORD'|translate}}"
                ng-model="resetPass.password"
                ng-required="true" >     
            <div class="help-block" 
                ng-show="resetPasswordFrm.$submitted || resetPasswordFrm.password.$touched"
                role="alert"
                style="color:maroon; margin-bottom:0; margin-top:0" >
                <div ng-show="resetPasswordFrm.password.$error.required" >
                    {{'ERR_PASSWORD_REQUIRED'|translate}}
                </div>
            </div>
        </div>
        <div  class="form-group"
            ng-class="{true: 'error'}[resetPasswordFrm.$submitted && resetPasswordFrm.passwordConfirm.$invalid]" >
            <label>Password Confirm</label>
            <input 
                type="password" 
                name="passwordConfirm" 
                class="form-control" 
                placeholder="{{'CONFIRM_PASSWORD'|translate}}"
                ng-model="resetPass.password_verify"
                ng-required="true"
                data-password-verify="resetPass.password" >
            <div
                class="help-block" 
                ng-show="resetPasswordFrm.$submitted || resetPasswordFrm.passwordConfirm.$touched"
                role="alert"
                style="color:maroon; margin-bottom:0; margin-top:0" >
                <div ng-show="resetPasswordFrm.passwordConfirm.$error.required">
                    {{'ERR_PASSWORD_CONFIRM_REQUIRED'|translate}}
                </div>
                <div ng-show="resetPasswordFrm.passwordConfirm.$error.passwordVerify">
                    {{'ERR_PASSWORD_NOT_EQUAL'|translate}}  
                </div>
                <div ng-show="error_msg">{{error_msg}}</div>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-event">{{'RESET_BTN'|translate}}</button>
        </div>
    </form>
</div>