<div class="sing-up-form clearfix" ng-show="isStepOne">
	<header>
		<h1>
		{{'SIGNUP'|translate}}
		</h1>
		<span class="cancel-button" ng-click="cancel()"></span>
	</header>
	<form 
		name="stepOneSignUpFrm"
		class="form-description"
		novalidate
		ng-submit="stepOneSignUpFrm.$valid && nextStep()"
		enctype="multipart/form-data"
		>
	   <div class="form-group upload-file" >
	   <img class="upload-def" ng-src="{{imageUrl}}" alt=""> 
	   <!-- <div class="upload-def" ng-style="userImageCss"></div> -->
	   <!-- <img class="upload-def" ng-src="{{imageSrc}}" alt="" ng-style="{ 'border-radius':'50%','overflow':'hidden','-webkit-border-radius':'50%','-moz-border-radius':'50%'}"> -->
	   <!-- <div class="upload-def"></div> -->
			<!-- <img ng-src="{{imageSrc}}" /><br/> -->
			<label>File</label>
			<input 
				type="file" 
                name="image"
                accept="image/*"
                directupload="onFileSelect($files)">
		</div>
		<div 
		class="form-group" 
		ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.email.$invalid]">
			<label>Email</label>
			<input 
				type="text" 
				name="email"
				class="form-control" 
				placeholder="Email"
				ng-model="signup.email"
				ng-required="true"
				ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" >
			<div
			class="help-block" 
			ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.email.$touched"
			role="alert"
			style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.email.$error.required">
					{{'ERR_EMAIL_REQUIRED'|translate}}
				</div>
				<div ng-show="stepOneSignUpFrm.email.$error.pattern">
					{{'ERR_EMAIL_FORMAT' | translate}}
				</div>
			</div>
		</div>

		<div 
			class="form-group"
			ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.password.$invalid]" >
			<label>{{ 'PASSWORD' | translate}}</label>
			<input 
				type="password" 
				name="password" 
				class="form-control" 
				placeholder="{{'PASSWORD'|translate}}"
				ng-model="signup.password"
				ng-required="true" >
			<div
				class="help-block" 
				ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.password.$touched"
				role="alert"
				style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.password.$error.required">
					{{'ERR_PASSWORD_REQUIRED'|translate}}
				</div>
			</div>
		</div>
		
		<div 
			class="form-group"
			ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.repass.$invalid]" >
			<label>{{'CONFIRM_PASSWORD'|translate}}</label>
			<input 
				type="password" 
				name="repass" 
				class="form-control extra-margin" 
				placeholder="{{'CONFIRM_PASSWORD'|translate}}"
				ng-model="signup.repass"
				data-password-verify="signup.password"
				ng-required="true" >
			<div
				class="help-block" 
				ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.repass.$touched"
				role="alert"
				style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.repass.$error.required">
					{{'ERR_PASSWORD_CONFIRM_REQUIRED'|translate}}
				</div>
				<div ng-show="stepOneSignUpFrm.repass.$error.passwordVerify">
					{{'ERR_PASSWORD_NOT_EQUAL'|translate}}	
				</div>
			</div>
		</div>

		<div 
			class="form-group"
			ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.firstname.$invalid]"
			>
			<label>{{'FIRSTNAME'|translate}}</label>
			<input 
				type="text" 
				name="firstname" 
				class="form-control extra-margin"  
				placeholder="{{'FIRSTNAME'|translate}}"
				ng-model="signup.first_name"
				ng-required="true" >
			<div
				class="help-block" 
				ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.firstname.$touched"
				role="alert"
				style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.firstname.$error.required">
					{{'ERR_FIRSTNAME_REQUIRED' | translate}}	
				</div>
			</div>
		</div>
		<div 
			class="form-group"
			ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.gender.$invalid]" >
			<label>{{'GENDER'|translate}}</label>
			<select 
					class="form-control extra-margin" 
					ng-model="signup.gender"
					name="gender"
					ng-required="true"
					>
					<option value="">--{{'SELECT_GENDER'|translate}}--</option>
					<option>{{'MALE'|translate}}</option>
					<option>{{'FEMALE'|translate}}</option>
			</select>
			<div
				class="help-block" 
				ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.gender.$touched"
				role="alert"
				style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.gender.$error.required">
					{{'ERR_GENDER_REQUIRED'|translate}}	
				</div>
			</div>
		</div>
		<div 
			class="form-group"
			ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.lastname.$invalid]"
			>
			<label>{{'LASTNAME'| translate}}</label>
			<input 
				type="text" 
				name="lastname" 
				class="form-control extra-margin"  
				ng-model="signup.last_name"
				placeholder="{{'LASTNAME'| translate}}"
				ng-required="true" >
			<div
				class="help-block" 
				ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.lastname.$touched"
				role="alert"
				style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.lastname.$error.required">
					{{'ERR_LASTNAME_REQUIRED' |translate}}	
				</div>
			</div>
		</div>

		<div 
			class="form-group"
			ng-class="{true: 'error'}[stepOneSignUpFrm.$submitted && stepOneSignUpFrm.birthday.$invalid]" >
			<label>Birthday</label>
			<input 
				type="date" 
				name="birthday" 
				class="form-control extra-margin "  
				placeholder="Birthday"
				ng-model="signup.birthday"
				is-open="status.opened" 
				min-date="minDate" 
				max-date="maxDate" 
				datepicker-options="dateOptions" 
				date-disabled="disabled(date, mode)"
				uib-datepicker-popup="MM/dd/yyyy"
				close-text="Close"
				ng-required="true"
				ng-click="open($event)" >
			<div
				class="help-block" 
				ng-show="stepOneSignUpFrm.$submitted || stepOneSignUpFrm.birthday.$touched"
				role="alert"
				style="color:maroon" >
				<div ng-show="stepOneSignUpFrm.birthday.$error.required">
					{{'ERR_BIRTHDAY_REQUIRED'|translate}}	
				</div>
			</div>
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-event">{{'NEXT_BTN'|translate}}</button>
		</div>
	</form>
</div>
<div class="enter-phone-form clearfix" ng-show="isStepTwo">
	<header>
		<h1>
		{{'ENTER_PHONENUMBER_TEXT'|translate}}
		</h1>
		<span class="cancel-button" ng-click="cancel()"></span>
		<p>{{'ENTER_PHONENUMBER_PAGAGRAPH'|translate}}</p>
	</header>
		<form 
			name="stepTwoSignUpFrm" 
			novalidate 
			ng-submit="stepTwoSignUpFrm.$valid && signupSubmit()"
			enctype="multipart/form-data">  
			<div class="form-group phone-number-valid-form no-change"
			ng-class="{true: 'error'}[stepTwoSignUpFrm.$submitted && stepTwoSignUpFrm.mobile_phone.$invalid]">
				<label>{{'PHONE'|translate}}</label>      
				<input 
				type="tel"
				name="mobile_phone" 
				class="form-control phone-number-valid" 
				ng-model="signup.mobile_phone"  
				phonenumbervalid 
				mobile-number="signup.mobile_phone"
				ng-required="true">  
				<span class="icon-valid-number icon_check_alt hide"></span>        
				<span class="icon-valid-number icon_error-circle icon-alert hide"></span>
				<div
					class="help-block" 
					ng-show="stepTwoSignUpFrm.$submitted || stepTwoSignUpFrm.mobile_phone.$touched"
					role="alert"
					style="color:maroon" >
					<div ng-show="stepTwoSignUpFrm.mobile_phone.$error.required">
						{{'ERR_PHONE_REQUIRED'|translate}}	
					</div>
				</div> 
			</div>     
			<div class="form-group">
				<button type="submit" class="btn btn-event">{{'SIGNUP'|translate}}</button>
			</div>
		</form>
</div>
<div class="signup-success clearfix" ng-show="isSuccess">
	<header>
		<h1>
		</h1>
		<span class="cancel-button" ng-click="cancel()"></span>
		<p>{{'SIGNUP_SUCCESS_MESSAGE'|translate}}</p>
	</header>
</div>
