<div class="container-term">
<h1>{{'TERM_OF_USE'|translate}}</h1>
	<h2>{{'TERMS_HEAD_1'|translate}}</h2>
	<p>{{'TERMS_PARAGRAPH_1'|translate}}
	</p>
	<h2>{{'TERMS_HEAD_2'|translate}}</h2>
	<p>{{'TERMS_PARAGRAPH_2'|translate}}</p>
	<h2>{{'TERMS_HEAD_3'|translate}}</h2>
	<p>{{'TERMS_PARAGRAPH_3'|translate}}</p>

</div>
<footer class="footer">
	<ul class="social-group">
		<li><a href="" class="social-icon social-facebook"><span></span></a></li>
		<li><a href="" class="social-icon social-twitter"></a></li>
		<li><a href="" class="social-icon social-instagram"></a></li>
	</ul>
	<ul class="contact-group">
		<li><a href="#/contact">{{'CONTACT_US'|translate}}</a></li>
		<li><a href="#/term">{{'TERM_OF_USE'|translate}}</a></li>
		<li><a href="">{{"RECRUITMENT"|translate}}</a></li>
	</ul>
	<div class="footer-logo"></div>
</footer>